@import "../styles/Global.scss";

.order-form {
    
    h1 {

      font-size: 22px;
    }

    .container {
        padding: 20px;
        @extend .important-box;
        

        .order-form-label {
            margin: 8px 0 5px 0;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 1.5px;

            &:after {
               @extend .required;
            }

        }

        .order-form-input {
            width: 100%;
            padding: 8px 8px;
            border-width: 1px !important;
            border-style: solid !important;
            border-radius: 0px !important;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.2em;
            background-color: transparent;
            border-color: #c2c2c2;
        }

        .btn-submit {
            border: 1px solid $DarkGrayClr !important;
            color: $DarkGrayClr !important;
            border-radius: 0px !important;
            font-size: 12px !important;
            text-transform: uppercase;
            letter-spacing: 1.5px;

            &:hover {
               background-color: #090909 !important;
               color: #fff !important;
            }

        }

    }

}

