@import "../../styles/Global.scss";
.billing_form {
	   

    form {
       

        .form-group {
            margin-bottom: 1rem;
            display: flow-root;

            .form-text {
                letter-spacing: 1px;
                display: block;
                width: 100%;
                float: left;
            }
            .invalid-feedback{
                display: inline-flex;
            }
        }

       label {
            display: inline-block;
            font-family: AlliesMediumFont;
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            vertical-align: middle;
            width: initial;

            &::after {
                  @extend .required;
            }
       }

       .form-control {
                float: left;
                font-family: AlliesMediumFont;
                font-size: 16px;
                height: 40px;
                letter-spacing: 2px;
                line-height: 40px;
                margin-bottom: 5px;
                padding: 0 15px;
       }

       .billing_info_detils {

          input {
             width: calc(100% - 65px);

          }

          .fa-question {
            float: right;
            font-size: 15px;
            border: 1px solid #888;
            padding: 6px 9px;
            border-radius: 50%;
            color: #888;
            font-weight: 200;
            margin-top: 5px;
            cursor: pointer;
          }
       }
    }
}