@import "../../styles/MediaQuery.scss";

.payment-section {
   
   h1 {
      margin: 40px 0px;
      font-family: AlliesFont;
   }

   .items-img {
      img {
            width: 60px;
		    height: auto;
		    vertical-align: top;
      }
   }

   .total-details {
      border-bottom : 1px solid #ccc;
      padding: 20px 0px;
   }

   .items-details {



      h3 {
             font-family: AlliesFont;
		    font-size: 16px;
		    letter-spacing: 1px;
		    line-height: 18px;
		    margin: 0 0 15px;
      }

      .quantity {
             color: #000;
		    font-family: AlliesMediumFont;
		    letter-spacing: 1px;
      }

      .price {
         font-family: AlliesFont;
		 font-size: 16px;
         font-weight: 700;
         width: 100%;
	    display: block;
	    float: left;
	    margin-top: 16px;
  
      }
   }

   .pay-right {
      border-left: 1px solid #ccc;
      padding-left: 15px;
      margin: 20px 0px;
   }

   .total-price {
      font-size: 30px;
      margin: 40px 0px;
      display: block;
      text-align: center;
      font-family: AlliesFont;
   }	

   .payment-method{
      display: flex;
      justify-content: space-evenly;
      letter-Spacing: '1px';
      margin-bottom: 20px;
   }
   .payment-method-box span{
      margin-right: 5px;
   }

   .proceed-payment {
      margin-top: 20px;
      font-family: AlliesMediumFont;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 10px 50px;
    text-transform: uppercase;
    width: 70%;
    border: 1px solid #000;
    color: #000;

    &:hover {
      background-color: #000;
      color: #fff;
      text-decoration:none;
      cursor: pointer;
      }
   }

   .shipping-information{
      font-family: "Avenir Medium";
      font-weight: 400;
      font-style: normal;
      line-height: 1.42857143;
      font-size: 1.4rem;
      
      .ship-to, .opc-block-shipping-information .ship-via {
         margin: 0 0 20px;
      }
      .shipping-information-title {
         border-bottom: 1px solid #ccc;
         margin: 0 0 20px;
         position: relative;
         padding-bottom: 10px;
         color: #333;
         font-weight: 300;
         font-size: 2.6rem;
     }

     .shipping-information-title span{
         color: #333;
         font-weight: 300;
         font-size: 1.6rem;
     }
     .shipping-information-content{
      line-height: 27px;
      font-family: "Avenir Medium";
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      color: #333;
     }
   }

}