@import "../styles/Global.scss";

.about-us {
    

     .column.main {
      display: inline-block;
      padding: 0;
  }
  .section2-container-banner {
    width: 100vw;
    margin-left: calc(-50vw + 50% - 10px);
    margin-bottom: 62px;
  }
  .cms-about-container img {
    width: 100%;
  }
  p.abt-p {
    /*color: #808285;*/
    display: inline-block;
    font-family: AlliesMediumFont;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 18px;
    margin: 80px 0 45px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  .about-us-section1-container {
    float: left;
    margin: 0 0 80px;
    width: 100%;
  }
  .section1-container {
    float: left;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 25px;
  }
  .section1-container .section1-content {
    float: left;
    padding: 0;
    width: 100%;
  }
  .section1-content p {
    color: #000000;
    display: block;
    font-family: AlliesFont;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 auto;
    max-width: 665px;
    text-align: center;
  }
  .section2-container {
    float: left;
    vertical-align: middle;
    width: 100%;
  }
  .section2-container .section2-content {
    float: left;
    padding: 0;
    width: 100%;
  }
  .section2-content p {
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    width: 100%;
    color: #000000;
    margin: 0 auto;
    max-width: 665px;
    text-align: center;
  }
  .img-container {
    float: left;
    margin-left: calc(-50vw + 50%);
    text-align: center;
    width: 100vw;
  }
  .img-container img {
    float: left;
    width: 100%;
  }
  .about-us-section-last-container {
    display: inline-block;
    margin: 78px 0;
    width: 100%;
    text-align: center;
  }
  .section3-container {
    display: inline-block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
  .section3-container p.last-head {
    color: #808285;
    display: block;
    font-family: AlliesMediumFont;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
  }
  .section3-container .highlight-cont {
    color: black;
    display: block;
    font-family: AlliesFont;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    margin: 28px 0 0;
    width: initial;
  }
  .sections {
    width: 50%;
    float: left;
  }
  .about-container {
    width: 960px;
    margin: auto;
  }
  .about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .section-right .section_content {
    padding-left: 4.5rem;
    font-family: AlliesMediumFont;
    display: inline-block;
    width: 95%;
  }
  .section-right .section_content ul {
    width: 100%;
  }
  .section-right .section_content ul li {
    font-size: 25px;
    display: inline-block;
    margin-bottom: 0.6em;
    width: 100%;
    line-height: 65px;
    position: relative;
  }
  .section-right .section_content ul li:nth-child(2n+2) {
    margin-left: 3em;
  }
  .section-right .section_content ul li img {
    float: left;
    margin-right: 5px;
    width: 67px;
  }
  .section-right .section_content ul li > span {
    position: relative;
  }
  .section-right .section_content ul li > span:hover::after {
    border-bottom: 2px solid #333333;
    bottom: 16px;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
   

  .section-right .section_content ul li .anti-allies-content-hover-show {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #333333;
    box-sizing: border-box;
    color: #000000;
    font-family: AlliesMediumFont;
    font-size: 15px;
    font-weight: 600;
    left: 72px;
    line-height: 20px;
    padding: 20px 18px;
    position: absolute;
    width: calc(100% - 96px);
    z-index: 1;
    display:none;
  }
  .section-left {
    position: relative;
  }
  .section-left .section_content {
    padding-right: 5.5rem;
    font-family: AlliesMediumFont;
    text-align: right;
  }
  .noText {
    font-family: AlliesMediumFont;
    margin-right: 10px;
  }
  .section-left img {
    float: left;
  }
  .section-right img,
  .section-right ul {
    float: right;
  }
  h2.Section_title {
    background-color: #fff;
    display: inline-block;
    font-family: AlliesFont;
    font-size: 78px;
    margin: 0;
    padding: 42px 0 34px;
    position: relative;
    width: 100%;
    z-index: 1;
    vertical-align: middle;
  }
  h2.Section_title span {
    color: #000000;
    font-size: 78px;
    line-height: 80px;
    vertical-align: middle;
  }
  h3.inner_title {
    font-family: AlliesMediumFont;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
    color: #929292;
  }
  .section_content p {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -5px;
  }
  .section-right h2.Section_title {
    left: -15px;
    overflow: hidden;
  }
  .section-left h2.Section_title {
    right: 5px;
    width: 100%;
    text-align: right;
  }
  .mobile_viewSec {
    display: none;
  }
  .About_BackToTop {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  #toTop.about_backtotop {
    position: relative;
    top: 0;
    margin: 5rem auto;
    background-color: transparent;
    color: #000;
    letter-spacing: 5px;
    font-size: 14px;
    width: auto;
    display: inline-block;
    cursor: pointer;
  }
  .about-container span {
    display: inline-block;
  }
  .Abtsec_img,
  .section-left h2.Section_title,
  .triggers1 {
    overflow: hidden;
  }
  .sections.section4.section-right span {
    float: right;
  }
  .section_wrapper {
    float: left;
    width: 100%;
    display: flex;
  }
  .sections.section-left,
  .sections.section-right {
    padding: 50px 0 0;
    overflow: visible;
  }
  .section-left::after {
    content: '';
    position: absolute;
    border-right: 1px solid #000;
    right: 7px;
    height: 100%;
    top: 0;
  }
  .section1.section-right {
    padding-bottom: 5rem;
  }
  .section2 ul {
    margin: 0;
  }
  .section2.section-right {
    padding-bottom: 36px;
  }
  .section4.section-right {
    padding-bottom: 11rem;
  }
  .section5.section-left {
    padding-bottom: 68px;
  }
  .section3 h2 {
    width: calc(100% + 10.5rem);
    padding: 58px 0 50px;
  }
  .allies-planet-item h3 {
    font-family: AlliesMediumFont;
    font-weight: normal;
    line-height: 14px;
    margin: 0 0 30px;
  }
  .allies-planet-slider .owl-nav button span {
    font-size: 38px;
  }
  .allies-planet-slider .owl-nav button.owl-prev span {
    margin-right: 15px;
  }
  .allies-planet-slider .owl-nav button.owl-next span {
    margin-left: 15px;
  }
}


.contact-section {
    display: inline-block;
    margin: 80px 0 45px;
    width: 100%;
    

    h3 {

        font-size: 14px;
        line-height: 16px;
        font-family: AlliesMediumFont;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 6px;
        color: #333;
        font-weight: bold;
    }

    .about-container {
        width: 80%;
    }

    .contact-container {
       width: 94%;
    }

     .border-section {
        &:after {
                content: '';
                position: absolute;
                border-right: 1px solid $BlackClr;
                right: 7px;
                height: 100%;
                top: 0;
            }
     }

    .about-left-section {

        .left_sec {
            float:right;
            padding-right:100px;  
            margin-top: 50px;    
        }

        .section_title {
           text-align: right;
           right:-15px;
        }

        .section_content {

            padding-right: 6.5rem;
            text-align: right;
        }
         
    }

    .about-right-section {

       .right_sec {
          padding-left: 80px;
          margin-top: 50px;
       }

       .section_title {
            left: -15px;
       }

       .section_content {
            padding-left: 6.5rem;
        }


        .form-box {
            margin-top: 200px;

            .fieldset {
                display: inline-block;
                margin: 0;
                width: 100%;
            }

             .field {
                float: left;
                margin: 0 0 30px;
                width: 100%;
            }

            .label {
                float: left;
                line-height: 12px;
                margin: 0 0 8px;
                width: 100%;

                 span {
                    color: #808285;
                    display: inline-block;
                    font-family: AlliesMediumFont;
                    font-size: 12px;
                    font-weight: normal;
                    letter-spacing: 2px;
                    line-height: 12px;
                    text-transform: uppercase;
                    width: initial;
                   
                    &:after {
                    content: '*';
                    color: #e02b27;
                    font-size: 1.2rem;
                    margin: 0 0 0 5px;
                    }
                }
            }

            .control {
                float: left;
                width: 100%;

                input, textarea{
                    border: medium none;
                    float: left;
                    font-family: AlliesMediumFont;
                    font-size: 18px;
                    font-weight: normal;
                    height: initial;
                    letter-spacing: 2px;
                    line-height: 30px;
                    padding: 0;
                    text-transform: uppercase;
                    width: 100%;
                    border-bottom: 1px solid #d1d3d4;
                    max-height: 31px;

                    &:hover, &:focus {
                      outline : 0px !important;
                    }
                }
            }

            .actions-toolbar button.action {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                border: 1px solid #000000;
                border-radius: 0;
                color: #000000;
                float: left;
                line-height: 40px;
                margin: 0;
                padding: 0;
                text-align: center;
                transition: all 0.5s ease 0s;
                width: 100%;

                &:hover {
                  background-color: #000;
                  color:#fff;
                }
            }

            .actions-toolbar {
                float: left;
                margin: 56px 0 0;
                width: 100%;
            }
        }


    }

    .content_section {
        margin-top: 50px;


       .section_title {
            background-color: $WhiteClr;
            display: inline-block;
            line-height: 70px;
            font-family: AlliesFont;
            font-size: 78px;
            margin: 0;
            padding: 42px 0 34px;
            position: relative;
            width: 100%;
            z-index: 1;
            vertical-align: middle;        
            overflow: hidden
       }

       .address-cont {
          margin-top: -70px;
       }

       .address-block{
            font-size: 18px;
             p  {
             padding-bottom: 0px !important;
             }
       }

       .section_content {
            font-family: AlliesMediumFont;
            color: #333;
            display: inline-block;
            width: 95%;

            p {
                font-size: 21px;
                letter-spacing: 0;
                line-height: 32px;
                margin-top: -5px;
                padding-bottom: 120px;
            }
       }
    }
}
@media only screen and (max-width:768px){
  .about-us .about-container{
    width: 100%;
  }
  .about-us .section_wrapper {
    flex-wrap: wrap;
    padding: 0 15px;
}

.about-us .sections {
  width: 100%;
  float: none;
}

.about-us h2.Section_title span {
  font-size: 28px;
  line-height: 38px;
}

.about-us .section-right h2.Section_title {
  left: 0;
  padding: 20px 0;
  text-align: center;
}

.about-us .section-right .section_content {
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.about-us .section-left::after {
  right: 50%;
  z-index: -1;
}

.about-us .section-left h2.Section_title {
  text-align: center;
}

.about-us .section-left .section_content {
  padding: 0;
}

.about-us img {
  max-width: 100%;
  float: none;
  height: auto;
}
.about-us .section-right .section_content ul {
  float: none;
  padding: 0 30px;
}

.about-us .section-right .section_content ul li {
  display: flex;
}

.about-us .section-right .section_content ul li:nth-child(2n+2) {
  margin-left: 0;
  flex-direction: row-reverse;
}

.about-us .section-right .section_content ul li > span {
  width: 80%;
  text-align: center;
}

.about-us .section-right .section_content ul li img {
  width: 40px;
}

.sections.section3.section-right.alliesPlanet1 h2 {
  text-align: center;
}
.about-us .section3 h2 {
  width: 100%;
}
.sections.section1.section-right.background1 {
  text-align: center;
  padding: 0 15px;
}

.about-us .section-right .section_content ul li {
  font-size: 18px;
}
.in_AbtCont {
  background: #fff;
}
.about-us .section_content p {
  text-align: center;
}
.contact-section .contact-container {
  width: 100%;
}

.contact-section .about-left-section .left_sec {
  float: none;
  padding: 0;
}

.contact-section .border-section:after {
  right: 50%;
  z-index: -1;
}

.about-left-section.border-section img {
  max-width: 100%;
}

.contact-section .content_section .section_title {
  font-size: 37px;
  text-align: center;
}

.contact-section .content_section .section_content {
  width: 100%;
  padding: 0;
  text-align: center;
  display: block;
}

.contact-section .content_section .section_content .text-left.font-weight-bold {
  text-align: center !important;
}

.about-left-section.content_section.border-section {
  background: #fff;
}

.contact-section .about-right-section .form-box {
  margin-top: 30px;
}

.contact-section .about-right-section .right_sec {
  padding-left: 0;
}
.about-left-section.content_section.border-section h4.text-right.font-weight-bold {
  text-align: center !important;
}
.inner-scroll {
  text-align: center;
}

.outeritem {
  text-align: center;
}
.sections.section1.section-left.background {
  text-align: center;
}

.sections.section4.section-right.animaltest1 {
  text-align: center;
}

.about-us .sections.section4.section-right span {
  float: none;
}

.sections.section5.section-left.allife {
  text-align: center;
}
}