.block-collapsible-nav {
	.content {
		background: #131315;
		padding: 30px 45px;
		position: relative;
		height: 100%;
		padding-bottom: 70px;
	}
	.item {
		&:first-child {
			margin-top: 0;
		}
		margin: 3px 0 0;
		display: block;
		width: 100%;
		a {
			border-left: 3px solid transparent;
			color: #949494 !important;
			display: block;
			font-size: 12px;
			padding: 5px 18px 5px 15px;
		}
		>strong {
			border-left: 3px solid transparent;
			color: #949494 !important;
			display: block;
			font-size: 12px;
			padding: 5px 18px 5px 15px;
		}
	}
	.item.current {
		>strong {
			border-color: #fff;
		}
	}
}
.items {
	margin: 0;
	padding: 0;
	list-style: none none;
}
.account {
	.block-collapsible-nav {
		.item.current {
			>strong {
				border-color: #fff;
				color: #fff;
				font-size: 13px;
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
	#maincontent {
		.block-collapsible-nav {
			.item {
				a {
					padding: 12px 18px 12px 15px;
					color: #949494 !important;
					font-size: 13px;
				}
			}
		}
	}
}
#maincontent {
	a {
        transition: all 0.5s ease;
        color:#000;
	}
}
.rowsec-account {
	.container-fluid {
		padding: 0 15px 0 0;
		overflow-x: hidden;
	}
}
.nav.item.current {
	strong {
		color: #fff;
	}
}
.block-title {
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 25px;
    padding-bottom: 10px;
    font-size: 15px;
}
.box-content {
	padding: 10px 0;
	p {
		margin-bottom: 0px;
	}
}
.block {
	.box-actions {
		margin-top: 5px;
		a {
			color: #000000;
			transition: all 0.5s ease;
		}
		.action {
			&:after {
				border-left: 1px solid #a6a6a6;
				content: '';
				display: inline-block;
				height: 12px;
				margin: 0 10px;
				vertical-align: -1px;
			}
		}
		.action.change-password {
			&:after {
				border-left: none;
			}
		}
	}
}
.block-collapsible-nav .content {
	&:before {
		content: '';
		background: #131315 url(../icons/aos-foot-logo.svg)left top no-repeat;
		width: 80px;
		height: 80px;
		background-size: 100%;
		right: 30px;
		top: 30px;
		position: absolute;
		opacity: .6;
		z-index: 1;
	}
}
.title.block-collapsible-nav-title {
	display: none;
}
.block.block-dashboard-info {
	padding-top: 20px;
	margin-bottom: 50px;
}
.rowsec-account {
	margin-top: 20px;
	font-size: 13px;
	.legend {
		margin: 0 0 20px;
		padding: 0 0 10px;
		width: 100%;
		box-sizing: border-box;
		float: left;
		font-weight: 300;
		line-height: 1.2;
		font-size: 1.4rem;
		border-bottom: 1px solid #c6c6c6;
	}
	.fieldset {
		>.field {
			margin: 0 0 20px;
			>.label {
				font-weight: 400;
				letter-spacing: 1px;
				font-size: 12px;
				margin: 0 0 0 5px;
				display: inline-block;
				color: #000;
			}
		}
		>.field.required {
			>.label {
				&:after {
					content: '*';
					color: #e02b27;
					font-size: 1.2rem;
					margin: 0 0 0 5px;
				}
			}
		}
	}
	select {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="text"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="password"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="url"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="tel"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="search"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="number"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="datetime"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	input[type="email"] {
		border: none;
		border-bottom: 1px solid #c8c8c8;
		padding-left: 0px;
		font-size: 12px;
		height: 24px;
		letter-spacing: 1.5px;
		line-height: 1.42857143;
		padding: 0 9px;
		vertical-align: baseline;
		width: 100%;
		box-sizing: border-box;
		border-radius: 1px;
		background: #ffffff;
		background-clip: padding-box;
	}
	.frmsec {
		padding: 30px 0;
	}
}
.block-title {
	strong {
		font-size: 18px;
	}
}
.account {
	.table-wrapper {
		margin-bottom: 20px;
		border-bottom: 1px solid #e4e4e4;
	}
	.data.table {
		.col.actions {
			.action {
				&:after {
					border-left: 1px solid #a6a6a6;
					content: '';
					display: inline-block;
					height: 12px;
					margin: 0 10px;
					vertical-align: -1px;
				}
			}
		}
	}
}
.block-dashboard-orders {
	.table {
		width: 100%;
		margin-bottom: 1rem;
		color: #212529;
		.col {
			width: auto;
		}
		td {
			border-top: 1px solid #cccccc;
		}
		th {
			border-top: none;
			border-bottom: none;
		}
	}
}
.table-wrapper.additional-addresses {
	.table {
		width: 100%;
		margin-bottom: 1rem;
		color: #212529;
		.col {
			width: auto;
		}
		td {
			border-top: 1px solid #cccccc;
		}
		th {
			border-top: none;
			border-bottom: none;
		}
	}
}
.block.block-dashboard-addresses {
	margin-bottom: 50px;
	.items.addresses {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		li {
			width: 50%;
			padding: 10px 15px;
		}
	}
	.item.actions {
		display: flex;
		flex-wrap: wrap;
		.action {
			padding-right: 0;
			font-weight: 600;
		}
	}
	.action.edit {
		&:after {
			border-left: 1px solid #a6a6a6;
			content: '';
			display: inline-block;
			height: 12px;
			margin: 0 10px;
			vertical-align: -1px;
		}
	}
}
.box-title {
	font-size: 15px;
}
.block.block-collapsible-nav {
	height: 100%;
}
.sidebar.sidebar-main {
	height: 100%;
}
.left-fixed-menu {
	height: 100%;
}
.block.block-dashboard-orders {
	.action.viewall {
		margin-left: 15px;
	}
}
.col.actions {
	.action.view {
		&:after {
			border-left: 1px solid #a6a6a6;
			content: '';
			display: inline-block;
			height: 12px;
			margin: 0 10px;
			vertical-align: -1px;
		}
	}
}
.actions-toolbar {
	>.secondary {
		.action.back {
			display: none;
		}
	}
	padding: 20px 0;
	.action.primary.add {
		padding: 8px 20px;
		font-size: 14px;
		transition: .3s linear;
		&:hover {
			background: #000;
			color: #fff;
		}
	}
	button {
		font-weight: 600;
		padding: 7px 15px;
		font-size: 15px;
		box-sizing: border-box;
		vertical-align: middle;
		display: inline-block;
		background: none;
		border: 1px solid #000000;
		color: #000000;
		transition: all 0.5s ease;
		&:hover {
			background: #000;
			color: #fff;
		}
	}
}
.page-title-wrapper {
	.page-title {
		display: inline-block;
		margin-right: 25px;
		margin-bottom: 25px;
	}
	padding: 30px 0;
	h1.page-title {
		font-size: 40px;
	}
}
.return-status {
	border: 2px solid #cccccc;
	border-radius: 3px;
	display: inline-block;
	margin: 3px 0 0;
	padding: 5px 10px;
	text-transform: uppercase;
	vertical-align: top;
}
.order-status {
	border: 2px solid #cccccc;
	border-radius: 3px;
	display: inline-block;
	margin: 3px 0 0;
	padding: 5px 10px;
	text-transform: uppercase;
	vertical-align: top;
}
.order-date {
	font-size: 16px;
	label {
		display: none;
	}
}
.order-actions-toolbar {
	margin-bottom: 25px;
	.action {
		margin-right: 30px;
	}
	.actions {
		display: flex;
		justify-content: space-between;
	}
}
.order-links {
	.item {
		strong {
			background: #ffffff;
			border: 1px solid #cccccc;
			display: block;
			font-weight: 400;
			padding: 0 20px;
			border-bottom: 0;
			margin-bottom: -1px;
			padding: 1px 35px 2px 35px;
			color: #000 !important;
		}
		line-height: 40px;
	}
}
.order-details-items {
	margin-top: -1px;
	padding: 25px;
	border: 1px solid #cccccc;
	margin-bottom: 40px;
	padding: 25px;
	.table-order-items {
		tbody {
			td {
				padding-bottom: 20px;
				padding-top: 20px;
			}
			+ {
				tbody {
					border-top: 1px solid #cccccc;
				}
			}
		}
		.product-item-name {
			margin: 0 0 10px;
		}
	}
	.col.name {
		padding-top: 16px;
	}
	.product-item-name {
		font-size: 1.3rem;
		font-weight: 400;
	}
	.table-wrapper {
		+ {
			.actions-toolbar {
				display: none;
			}
		}
	}
}
.order-details-items.ordered {
	.order-title {
		display: none;
	}
}
.table-wrapper.order-items {
	.col {
		width: auto;
		border-bottom: none;
	}
}
th.col.qty {
	text-align: right;
}
span.price-excluding-tax {
	.price {
		font-size: 18px;
		font-weight: 600;
	}
}
ul.items-qty {
	list-style: none;
}
.table {
	tfoot {
		background: #f5f5f5;
		th {
			border: none;
			padding-top: 20px;
			background: transparent;
			text-align: right;
			font-weight: 400;
		}
		td {
			border: none;
			padding-top: 20px;
			background: transparent;
			text-align: right;
			font-weight: 400;
		}
	}
}
tr.grand_total {
	strong {
		font-size: 14px;
	}
}
.block.block-order-details-view {
	.block-content {
		display: flex;
		flex-wrap: wrap;
		.box {
			width: 25%;
			padding: 10px;
		}
	}
}
.fieldset {
	>.fields {
		>.field {
			margin: 0 0 20px;
		}
		>.field.required {
			>.label {
				&:after {
					content: '*';
					color: #e02b27;
					font-size: 1.2rem;
					margin: 0 0 0 5px;
				}
			}
		}
		>.field._required {
			>.label {
				&:after {
					content: '*';
					color: #e02b27;
					font-size: 1.2rem;
					margin: 0 0 0 5px;
				}
			}
		}
	}
	>.field._required {
		>.label {
			&:after {
				content: '*';
				color: #e02b27;
				font-size: 1.2rem;
				margin: 0 0 0 5px;
			}
		}
	}
}
body.account {
	.fieldset {
		>.fields {
			>.field {
				>.label {
					font-weight: 400;
					letter-spacing: 1px;
					font-size: 12px;
					margin: 0 0 0 5px;
					display: inline-block;
					color: #000;
				}
			}
		}
	}
}
.frmsec.full-form {
	width: 100%;
	input[type="checkbox"] {
		margin: 2px 5px 0 0;
		position: relative;
		top: 2px;
	}
}
.frmsecnext.full-form.padbt {
	input[type="checkbox"] {
		margin: 2px 5px 0 0;
		position: relative;
		top: 2px;
	}
	padding-bottom: 30px;
	padding-top: 30px;
}
.frmsecnext.full-form {
	input[type="checkbox"] {
		margin: 2px 5px 0 0;
		position: relative;
		top: 2px;
	}
}
.form-row {
	fieldset.fieldset.info {
		width: 50%;
		padding: 0 15px;
	}
	.fieldset {
		width: 50%;
		padding: 0 15px;
	}
}
#password-strength-meter-container {
	.password-strength-meter {
		height: initial;
		letter-spacing: 1px;
		line-height: 30px;
		padding: 0 10px;
		background-color: #f4f4f4;
		position: relative;
		z-index: 1;
		font-size: 14px;
		color: #000;
	}
}
.field.password-info {
	a {
		font-weight: 600;
	}
}
.addfrm-sec {
	padding: 30px 0;
}
.field.additional {
	label {
		color: #000;
		font-size: 13px;
		display: none;
	}
}
.card {
	border-radius: 0;
}
.block.block-dashboard-orders.myorders {
	padding: 30px 0 60px;
}
.limiter {
	button {
		outline: none;
		background: #ececec none repeat scroll 0 0;
		border: medium none;
		float: left;
		font-size: 10px;
		font-weight: normal;
		margin: 0 5px;
		height: 20px;
		line-height: 20px;
	}
	display: flex;
	flex-wrap: wrap;
}
.error {
    font-size: 12px;
	padding-top: 5px;
	color: #e02b27;
}
.table-additional-addresses-items.history th {
    vertical-align: top;
}
.cancelbtn {
	float: left;
	width: 50%;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	background-color: #ccc;
	color: black;
	font-size: 14px;
}
.deletebtn {
	float: left;
	width: 50%;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	background-color: #f44336;
	font-size: 14px;
}
.container-alert {
	padding: 20px;
	text-align: center;
}
.modal-alert {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(71, 78, 93, 0.7);
	padding-top: 50px;
	hr {
		border: 1px solid #f1f1f1;
		margin-bottom: 25px;
	}
	.clearfix {
		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}
}
.modal-alert-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 50%;
}
.alert-close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
	&:hover {
		color: #f44336;
		cursor: pointer;
	}
	&:focus {
		color: #f44336;
		cursor: pointer;
	}
}
.message.info {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 12px 20px 12px 25px;
    font-size: 13px;
    background: #fdf0d5;
    color: #6f4400;
    padding-left: 45px;
    position: relative;
}
.message.info > *:first-child:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: 24px;
    color: #c07600;
	content: "\f071";
    font-family: FontAwesome;
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}
@media only screen and (max-width: 768px){
	.form-row fieldset.fieldset.info, .form-row .fieldset {
		width: 100%;
	}
	.collapse:not(.show) {
		display: none;
	}
    .title.block-collapsible-nav-title {
        margin-bottom: 0;
        position: relative;
        border-bottom: 1px solid #cccccc;
        padding: 10px 40px 10px 15px;
        display: block;
		text-decoration: none;
		font-size: 18px;
    }
		.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody {
			display: block;
		}
		.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr {
			display: block;
		}
		.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) tbody > tr > td:first-child {
			padding-top: 15px;
		}
		.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr th {
			border-bottom: none;
			border-top: none;
			display: block;
			padding: 5px 10px;
		}
		.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td[data-th]:before, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr th[data-th]:before {
			padding-right: 10px;
			content: attr(data-th) ': ';
			display: inline-block;
			color: #111111;
			font-weight: 700;
		}
		.table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > thead > tr > th {
			display: none;
		}
		.title.block-collapsible-nav-title:before {
			content: '';
			position: absolute;
			right: 10px;
			top: 10px;
			width: 15px;
			height: 15px;
			border: 0.125rem solid #000;
			border-bottom: 0;
			border-left: 0;
			border-radius: 1px;
			text-indent: -624.9375rem;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}
		.block.block-dashboard-info, .block.block-dashboard-addresses, .block.block-dashboard-orders {
			padding-left: 15px;
		}
		.block-content {
			display: flex;
			flex-wrap: wrap;
		}
		
		.block-content  .box {
			width: 25%;
			padding: 10px;
		
		}
		
		.page-title-wrapper h1.page-title {
			font-size: 28px;
		}
		
		.page-title-wrapper {
			padding-left: 15px;
			padding-bottom: 0;
		}
		
		ul.items.order-links {
			padding-left: 15px;
		}
		
		.order-details-items {
			margin-left: 15px;
		}
		.order-details-items .items-qty {
			display: inline-block;
			vertical-align: top;
		}
		 .table-order-items .product-item-name {
			display: block;
			margin: 0;
		}
		
		.order-details-items.ordered .order-title {
			display: block;
			font-size: 24px;
			border-bottom: 1px solid #cccccc;
			padding: 0 0 10px;
		}
		
		.table-wrapper.order-items .col {
			width: 100%;
		}
		
		.block-content .box {
			width: 100%;
		}
		
		.table tfoot th, .table tfoot td {
			text-align: left;
		}
		.rowsec-account .frmsec {
			width: 100%;
			padding-left: 15px;
		}
		.modal-alert .modal-alert-content{
			width:80%;
		}
}

  @media screen and (max-width: 1024px) and (min-width: 768px){
	.block-collapsible-nav .content {
		&:before {
			content: '';
			width: 40px;
			height: 40px;
			right: 20px;
		}
	}
  }
  @media (min-width: 768px){
	.rowsec-account .col-md-8 {
			flex: 0 0 71.666667%;
			max-width: 71.666667%;
		}
	.rowsec-account .col-md-4 {
		flex: 0 0 28.333333%;
		max-width: 28.333333%;
	}
  }