
.product-allies-ethos {
   padding: 40px 0px;
   display: block;

   .footBanner_content {
	   float: left;
	   width: 100%;
	   padding: 0 0 20px 70px;
	   text-align: center;
	   display: inline-block;
   }

    .footBanner_title {
        font-family: AlliesMediumFont;
	    font-size: 36px;
	    font-weight: normal;
	    line-height: 36px;
	    margin: 0 0 30px;
	    text-align: center;
    }

    .footBanner_icon {
        float: left;
	    margin: 15px auto;
	    text-align: left;
	    width: 20%;
	    display: flex;
	    align-items: center;
    }

    .ethos_ico {
        float: left;
	    margin: 0 8px 0 0;
	    width: initial;

        img {
            display: inline-block;
		    vertical-align: middle;
		    width: 50px;
  
        }
    }

    .ethos_text {
        loat: left;
	    font-family: AlliesMediumFont;
	    font-size: 16px;
	    letter-spacing: 1px;
	    line-height: 20px;
	    vertical-align: middle;
	    width: calc(100% - 60px);

       strong {
	        float: left;
		    font-family: AlliesMediumFont;
		    font-weight: normal;
		    margin: 0 8px 0 0;

       }

	    label {
		    display: inline-grid;
		    vertical-align: middle;
		    float:left;
		    width: 100%;
		}
    }
	
}