@import "../styles/Global.scss";

.top_banner {
	background: $BlackClr none repeat scroll 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    text-align: center;
    font-family: AlliesMediumFont;

    p {
     
        color: $WhiteClr;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: normal;
        font-style: normal;
        line-height: 18px;
        margin-bottom: unset;
        padding: 10px;
        text-transform: uppercase;

    }
}

