@import "../styles/Global.scss";

.cart_list {
  font-family: AlliesMediumFont;
	
	h2 {
	 color: $WhiteClr;
    float: left;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    text-decoration: none;	  
    max-height: 50px;
    overflow: hidden;
    text-transform: uppercase;
	}

  .incrment_decrment {

    display:flex;
      span {
        margin: 0px 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
  }

	.cart_title_name {
		  color: $DarkGrayClr;
	    float: left;
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 25px;
	    margin: 0;
	    text-transform: uppercase;
	    width: 100%;
    }

    .fa-minus, .fa-plus {
        font-size: 14px;
        cursor:pointer;
    }

    .cart_title_value {
	    color: $WhiteClr;
	    float: left;
	    font-size: 17px;
	    letter-spacing: 2px;
	    line-height: 25px;
	    margin: 0;
	    text-transform: uppercase;
	    width: initial;
    }

    .cart-use {
       color:$DarkGrayClr;
       display:inline-block !important;
       margin-top: 26px;
       text-align: right;
       

       .fa {
          font-size: 25px;
          margin-left: 20px;
          font-size: 17px;
          cursor:pointer;

          &:hover {
             color: $WhiteClr;
          }
       }
    }

    .cart {
      display:grid;
    }

    .subtotal {
      float: right;
      text-align: right;
    }

    .cart_details {
        border-bottom: 1px solid #7d7d7d;
	    padding-bottom: 18px;
	    margin-bottom: 20px;
    }
 }   


 .checkout-form {
    margin-top: 40px;
    border-top: 1px solid #808285;
    padding-top: 30px;

    .view-edit { 
        color: #808285;
        float: left;
        line-height: 40px;
        text-decoration: underline;
        transition: all 0.5s ease 0s;
        width: initial;
        text-transform:uppercase;
        font-size:12px;
        margin-right: 40px;
      }

    .checkout-btn {
        

        a {
          max-width: 500px;
          text-align:center;
          font-family: AlliesMediumFont;
          font-size: 12px;
          letter-spacing: 1px;
          line-height: 40px;
          padding: 10px  60px;
          width: 100%;
          text-transform: uppercase;
          border: 1px solid #808285;
          color: #808285;

          &:hover {
            text-decoration:none;
            color:#fff !important;
              border: 1px solid #fff;
            
          }
       }

    }  
 }