@import "../styles/Global.scss";

.checkout_page {
	 
	 .step_title {
	    border-bottom: 1px solid #d1d3d4;
		display: inline-block;
		font-family: AlliesFont;
		font-size: 24px;
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 10px;
		padding: 0 0 20px;
		width: 100%;

	 }

	 .shipping_method {
		 .error{
			 color: red;
		 }
	    span {
	       margin: 20px 0;
	       font-family: AvenirMedium;
	       font-weight: normal;
	       font-style:normal;
		}
		.table-checkout-shipping-method{
			width: auto;
			border-collapse: collapse;
			border-spacing: 0;
			max-width: 100%;
			border-color: grey;
			.col-price {
				font-weight: 600;
			}
			
		}
		.table-checkout-shipping-method tr td{
			padding: 11px 10px;
		}
		.table-checkout-shipping-method tbody td {
			border-top: 1px solid #ccc;
			padding-bottom: 20px;
			padding-top: 20px;
		}
		.table-checkout-shipping-method tbody tr:first-child td{
			border-top: none;
		}
		.table-checkout-shipping-method tbody td:first-child {
			padding-left: 0;
			padding-right: 0;
			width: 20px;
		}
		.shipping-method-buttons-container{
			width: 100%;

			.button-action-continue{
				float: right;
				margin: 0;
				padding: 0 15px;
				transition: all .5s ease 0s;
				width: initial;
				&:hover {
					background-color: #000;
					color: #fff;
					text-decoration:none;
				  }
			}
			.button-action-continue span{
				display: block;
				font-family: "BrandonGrotesque Medium";
				font-size: 11px;
				font-weight: 400;
				letter-spacing: 2px;
				text-transform: uppercase;
				width: initial;
			}
		}
	 }

	.shipping_form {
	   

		form {
		   

		    .form-group {
                margin-bottom: 0;
                display: flow-root;

                .form-text {
                    letter-spacing: 1px;
                    display: block;
				    width: 100%;
				    float: left;
				}
				.invalid-feedback{
					display: inline-flex;
				}
            }

		   label {
		        display: inline-block;
			    font-family: AlliesMediumFont;
			    font-size: 12px;
			    font-weight: normal;
			    letter-spacing: 1px;
			    text-transform: uppercase;
			    vertical-align: middle;
			    width: initial;

			    &::after {
                  	@extend .required;
			    }
		   }

		   .form-control {
		            float: left;
				    font-family: AlliesMediumFont;
				    font-size: 16px;
				    height: 40px;
				    letter-spacing: 2px;
				    line-height: 40px;
				    margin-bottom: 5px;
				    padding: 0 15px;
		   }

		   .info_detils {

		      input {
		         width: calc(100% - 65px);

		      }

		      .fa-question {
		        float: right;
		        font-size: 15px;
		        border: 1px solid #888;
			    padding: 6px 9px;
			    border-radius: 50%;
			    color: #888;
			    font-weight: 200;
			    margin-top: 5px;
			    cursor: pointer;
		      }
		   }
		}
	}

	 .checkout-summary {
        margin-top: 70px;
    }

	.order_summary {

	   .order_section {
	            overflow-y: auto;
			    width: 100%;
			    max-height: 100%;
			    overflow-x: hidden;
			    
	   }

	    .order-details {
	       border-bottom: 1px solid #d1d3d4;
	       padding: 10px 0px; 
	       img {
	           width: 60px;
	           height: auto;
	           vertical-align: top;
	       }
	    }


	     .product_title {
	            font-family: AlliesFont;
			    font-size: 16px;
			    letter-spacing: 1px;
			    line-height: 18px;
			    margin: 0 0 15px;
	     }

	     .product_price {
	         font-weight: bold;
	         margin-left: 10px;
	     }

	     .product_quantity {
	            color: #000000;
			    font-family: AlliesMediumFont;
			    letter-spacing: 1px;
	     }

	     .note {
	            width: 100%;
			    font-family: AlliesFont;
			    font-size: 15px;
			    margin-top: 20px;

	     }
	}
}
.opc-progress-bar {
	margin: 20px 0 20px;
	counter-reset: i;
	display: block;
	font-size: 0;
	text-align: center;
}
.opc-progress-bar-item {
	margin: 0;
	width: 185px;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	&:before {
		background: #e4e4e4;
		border: 1px solid #cccccc;
		top: 19px;
		transition: background 0.3s;
		content: '';
		height: 8px;
		left: 0;
		position: absolute;
		width: 100%;
	}
	&:first-child {
		&:before {
			border-radius: 6px 0 0 6px;
		}
	}
	>span {
		display: inline-block;
		padding-top: 45px;
		width: 100%;
		word-wrap: break-word;
		font-size: 1.2rem;
		&:before {
			background: #e4e4e4;
			border: 1px solid #cccccc;
			height: 38px;
			margin-left: -19px;
			transition: background 0.3s;
			width: 38px;
			border-radius: 50%;
			content: '';
			left: 50%;
			position: absolute;
			top: 0;
		}
		&:after {
			background: #e4e4e4;
			border: 1px solid #cccccc;
			height: 38px;
			margin-left: -19px;
			transition: background 0.3s;
			width: 38px;
			border-radius: 50%;
			content: '';
			left: 50%;
			position: absolute;
			top: 0;
			background: #ffffff;
			height: 26px;
			margin-left: -13px;
			top: 6px;
			width: 26px;
			content: counter(i);
			counter-increment: i;
			color: #333333;
			font-weight: 600;
			font-size: 1.1rem;
		}
	}
}
.opc-progress-bar-item._active {
	&:before {
		background: #000000;
		border-color: #000000;
	}
	>span {
		color: #333333;
		font-weight: 600;
		&:after {
			border-color: #000000;
			content: '';
			background: rgba(0, 0, 0, 0) url('../images/check-process.png') no-repeat scroll center center;
			width: 38px;
			height: 38px;
			position: absolute;
			top: 0px;
			left: 47%;
		}
	}
}
.opc-progress-bar-item.complete {
	>span {
		color: #333333;
		font-weight: 600;
		&:after {
			border-color: #000000;
			content: '';
			background: rgba(0, 0, 0, 0) url('../images/check-process.png') no-repeat scroll center center;
			width: 38px;
			height: 38px;
			position: absolute;
			top: 0px;
			left: 47%;
		}
	}
}
.checkout-index-index {
	.opc-progress-bar-item._active {
		>span {
			&:before {
				background: #000000;
				border-color: #000000;
			}
		}
	}
}
.order_summary {
	.card-header {
		&:before {
			content: '';
			background: rgba(0, 0, 0, 0) url('../images/plus-icon.png') no-repeat scroll center center;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 4px;
			right: 10px;
		}
	}
	.accordion {
		>.card {
			border: none;
			>.card-header {
				padding: 10px;
			}
		}
	}
	.itemin_cart {
		span {
			color: #000;
			font-size: 16px;
		}
	}
}
.shipping-address-items .col-md-4{
	margin-bottom: 30px;
}
.shipping-address-item {
	border: 2px solid #000000;
	font-size: 14px;
	line-height: 30px;
	margin: 10px;
	padding: 20px 35px 20px 20px;
	transition: 0.3s border-color;
	width: 100%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	word-wrap: break-word;
	height:100%;
}
.action-show-popup {
	margin: 0 0 20px;
	background-image: none;
	background: #eeeeee;
	border: 1px solid #cccccc;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	margin: 0;
	padding: 5px 20px;
	font-size: 13px;
	line-height: 1.6rem;
	box-sizing: border-box;
	vertical-align: middle;
	>span {
		&:before {
			content: '+';
			padding-right: 5px;
		}
	}
}
.shipping-address-item.selected-item {
	&:after {
		color: #ffffff;
		content: '';
		height: 27px;
		width: 29px;
		font-size: 19px;
		line-height: 21px;
		padding-top: 2px;
		position: absolute;
		right: 0;
		background: rgba(0, 0, 0, 0) url('../images/check-process-white.png') no-repeat scroll center center;
		text-align: center;
		top: 0;
	}
}
.shipping-address-items {
	.shipping-address-item {
		&:nth-child(1) {
			margin-left: 0;
		}
	}
}
.new-address-popup {
	padding: 15px 0;
}
#shipping-method-buttons-container {
	text-align: right;
}
.modal.classshow {
    background: rgba(255, 255, 255, 0.8);
}
.modal-dialog.modal-lg.addaddress {
	position: relative !important;
	margin: 3.75rem auto;
	.modal-header {
		.close {
			outline: none;
			font-weight: 300;
			opacity: 1;
			font-size: 16px;
			position: absolute;
			right: 25px;
		}
		h3{
			font-size: 18px;
		}
	}
	.modal-body {
		height: 300px;
		overflow-y: scroll;
	}
}
.action.primary {
	background: none;
	border: 1px solid #000000;
	color: #000000;
	transition: all 0.5s ease;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	padding: 7px 15px;
	font-size: 13px;
	box-sizing: border-box;
	vertical-align: middle;
	transition: .5s linear;
	&:hover {
		background-color: #000;
		color: #fff;
	}
}
.action.secondary.action-hide-popup {
	border: none;
	font-size: 13px;
	padding: 7px 15px;
	color: #006bb4;
	text-decoration: underline;
}
.payment-option {
	.step-title {
		margin: 0;
		border-bottom: 1px solid #d1d3d4;
		display: inline-block;
		font-family: AlliesFont;
		font-size: 24px;
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 10px;
		padding: 0 0 20px;
		width: 100%;
	}
	.field {
		float: left;
		margin: 10px 0;
		width: 100%;
		padding: 0;
		margin: 0;
		.label {
			line-height: 36px;
			margin: 0;
			font-size: 14px;
			>span {
				display: inline-block;
				font-size: 12px;
				font-weight: normal;
				letter-spacing: 1px;
				text-transform: uppercase;
				vertical-align: middle;
				width: initial;
			}
		}
	}
	.field.choice {
		.radio {
			margin: 13px 0;
		}
		.label {
			float: right;
			width: calc(100% - 35px);
		}
	}
	.action-help {
		display: inline-block;
		margin-left: 5px;
	}
	.payment-icon {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
	}
	.payment-method._active {
		margin: 0;
		padding: 10px 0;
		border-top: 1px solid #cccccc;
		clear: both;
	}
	.fieldset {
		border: medium none;
		float: left;
		letter-spacing: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		.field {
			float: left;
			margin: 10px 0;
			width: 100%;
			padding: 0;
			.control {
				.input-text {
					float: left;
					font-size: 16px;
					height: 40px;
					letter-spacing: 2px;
					line-height: 40px;
					margin: 0;
					padding: 0 15px;
					width: 100%;
				}
				select {
					float: left;
					font-size: 16px;
					height: 40px;
					letter-spacing: 2px;
					line-height: 40px;
					margin: 0;
					padding: 0 15px;
					width: 100%;
				}
			}
		}
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #ffffff url(../images/plus-icon.png) no-repeat 100% 45%;
		border: 1px solid #cccccc;
		height: 32px;
		padding-right: 25px;
		text-indent: .01em;
	}
	.actions-toolbar {
		.action {
			float: right;
			line-height: 38px;
			padding: 0 30px;
			width: initial;
			margin: 0;
			padding: 15px 15px;
			line-height: 14px;
		}
	}
	.primary {
		display: flex;
		flex-direction: row-reverse;
		float: right;
	}
	.action.action-cancel {
		border: none;
		&:hover {
			background-color: transparent;
			color: #000;
		}
	}
}
#maincontent {
	a {
		color: #000000;
		transition: all 0.5s ease;
	}
}
.choiceName {
	clear: both;
	padding: 20px 0px 0px;
	font-size: 14px;
	input {
		margin-right: 15px;
	}
	input[type="checkbox"] {
		margin: 2px 5px 0 0;
		position: relative;
		top: 2px;
	}
}
.billing-address-same-as-shipping-block.field.choice {
	input[type="checkbox"] {
		margin: 2px 5px 0 0;
		position: relative;
		top: 2px;
	}
	font-size: 14px;
}
.billing-address-details {
	line-height: 27px;
	padding: 0 0 0 23px;
	font-size: 14px;
	button {
		box-shadow: inset 0 1px 0 0 rgba(204, 204, 204, 0.8), inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
		background-image: none;
		background: #eeeeee;
		border: 1px solid #cccccc;
		color: #333333;
		cursor: pointer;
		display: inline-block;
		font-weight: 600;
		margin: 0;
		padding: 7px 15px;
		font-size: 14px;
		line-height: 1.3rem;
		box-sizing: border-box;
		vertical-align: middle;
		margin-top: 10px;
		&:hover {
			background: #e1e1e1;
			border: 1px solid #cccccc;
			color: #333333;
		}
	}
}
.actions-toolbar {
	.action.action-update {
		box-shadow: inset 0 1px 0 0 rgba(204, 204, 204, 0.8), inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
		background-image: none;
		background: #eeeeee;
		border: 1px solid #cccccc;
		color: #333333;
		cursor: pointer;
		display: inline-block;
		font-weight: 600;
		margin: 0;
		padding: 7px 15px;
		font-size: 14px;
		line-height: 1.3rem;
		box-sizing: border-box;
		vertical-align: middle;
		margin-top: 10px;
	}
}
.billing-addresschnage {
	clear: both;
	width: 80%;
}
.field.field-select-billing {
	width: 80% !important;
}
.actions-toolbar.placebutton {
	clear: both;
	button {
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
.applycoupon.order_summary {
	clear: both;
	padding-top: 30px;
	.card-body {
		background: #f5f5f5;
	}
	.payment-option-content {
		input {
			background: #ffffff;
			background-clip: padding-box;
			border: 1px solid #c2c2c2;
			border-radius: 1px;
			width: 100%;
			padding: 10px;
		}
	}
	#discount-form {
		display: flex;
		flex-wrap: wrap;
	}
	.payment-option-inner {
		width: 70%;
	}
	.actions-toolbar {
		width: 30%;
		padding: 0;
	}
	.itemin_cart {
		display: inline-block;
		font-family: AlliesFont;
		font-size: 24px;
		font-weight: normal;
		line-height: 30px;
		margin-bottom: 10px;
		padding: 0 0 20px;
	}
}
.payment-option-inner {
	.field {
		.label {
			display: none;
		}
	}
}
 .shipping-information-title {
    border-bottom: 1px solid #cccccc;
    margin: 0 0 20px;
    position: relative;
}
.shipping-information .shipping-information-title .action-edit {
    top: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    position: absolute;
    right: 0;
	box-shadow: none;
	border:none;
}
.shipping-information .shipping-information-title .action-edit > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.shipping-information-title span {
    padding-bottom: 10px;
    color: #333333;
    font-weight: 300;
    font-size: 1.6rem;
}
.shipping-information .shipping-information-title .action-edit:before {
		content: '';
		height: 30px;
		width: 30px;
		line-height: 30px;
		position: absolute;
		right: 0;
		background: rgba(0, 0, 0, 0) url('../images/edit-icon.png') no-repeat scroll center center;
		text-align: center;
		top: 0;
}
.ship-via {
    padding-top: 20px;
}

.shipping-information-content {
    font-size: 14px;
}
.table-totals {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 50px;
}

.table-totals {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}
.opc-block-summary .title {
    padding-bottom: 10px;
    color: #333333;
    font-weight: 300;
    font-size: 1.6rem;
    display: block;
}

table.data.table.table-totals {
    clear: both;
}
.table-totals .marks, .table-totals .amount {
    font-size: 14px;
    border: 0;
    font-weight: 400;
    padding: 6px 0;
}
.opc-block-summary .marks .value {
    color: #666666;
    display: block;
}

.action.primary.checkout:disabled:hover {
	background: transparent;
    color: #000;
    cursor: no-drop;
  }
  .payment-method-billing-address {
    clear: both;
	padding-left: 30px;
	padding-top: 20px;
}
.payment-method .fieldset {
    padding-left: 30px !important;
}
.checkout_page  .payment-method._active {
    border-bottom: 1px solid #cccccc;
}

.checkout_page .actions-toolbar.placebutton .primary {
    float: none;
}
.payment-sucess {
    padding: 60px 0;
}
.authentication-wrapper {
    margin-top: 30px;
    max-width: 50%;
    position: absolute;
    z-index: 1;
    right: 35px;
    width: 33.33333333%;
    text-align: right;
}
.authentication-wrapper button.action.action-auth-toggle {
    padding: 10px 20px;
    border-radius: 0;
    transition: all 0.5s ease 0s;
    background: #fff;
    border: 1px solid #000;
    font-weight: bold;
}
.authentication-dropdown._show {
    z-index: 100;
    -webkit-transform: scale(1, 1);
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0s;
    transform: scale(1, 1);
    transition: transform linear .1s, visibility 0s linear 0s;
    visibility: visible;
}
.authentication-dropdown {
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    -webkit-transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0.1s;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: scale(1, 0);
    transform-origin: 0 0;
    transition: transform linear .1s, visibility 0s linear .1s;
    visibility: visible;
    width: 100%;
}
.authentication-dropdown .modal-inner-wrap {
    padding: 25px;
}
.modal-custom .action-close {
    margin: 25px;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 15px;
}
.modal-custom .action-close:before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
    content: '\f00d';
    font-family: 'FontAwesome';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.block-authentication .block-title strong {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
}
.authentication-wrapper .input-text, .authentication-wrapper select {
    float: left;
    font-size: 16px;
    height: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
    width: 100%;
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
}
.authentication-wrapper .label > span {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;
    width: initial;
    color: #000;
}
.block-authentication .actions-toolbar > .primary {
    display: inline;
    float: right;
	margin-right: 0;
	margin-top: 10px;
}
.block-authentication .actions-toolbar > .secondary {
    float: left;
    margin-right: 2rem;
    padding-top: 1rem;
}
.authentication-wrapper  .secondary .action {
    float: left;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0;
    text-decoration: underline;
    transition: all 0.5s ease 0s;
    width: initial;
    color: #000000;
    transition: all 0.5s ease;
}
@media only screen and (max-width:768px){
	.checkout-process {
		display: none;
	}
	.container-fluid.checkout_page.pl-5.pr-5.mt-5.mb-5 {
		padding: 0 15px!important;
	}
	.applycoupon.order_summary .card-body {
		padding: 10px 0;
	}
	
	.applycoupon.order_summary .actions-toolbar {
		width: 100%;
	}
	
	.applycoupon.order_summary .actions-toolbar .primary {
		float: left;
	}
	
	.applycoupon.order_summary .payment-option-inner {
		width: 100%;
		margin-bottom: 15px;
	}
	.authentication-wrapper {
		position: relative;
		width: 100%;
		max-width: 100%;
		right: 15px;
	}
	.custom-slide {
		bottom: 0;
		left: 0;
		min-width: 0;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: visibility 0s .3s, opacity .3s ease;
		transition: visibility 0s .3s, opacity .3s ease;
		left: 44px;
		z-index: 900;
	}
	.custom-slide .modal-inner-wrap {
		height: 100%;
		overflow-y: auto;
		position: static;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		width: auto;
	}
	.custom-slide .modal-inner-wrap {
		background-color: #ffffff;
		box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
		opacity: 1;
		pointer-events: auto;
	}
	.custom-slide .modal-inner-wrap {
		background-color: #f4f4f4;
		box-sizing: border-box;
		height: auto;
		min-height: 100%;
		transform: translateX(0%);
	}
	.custom-slide._show {
		visibility: visible;
		opacity: 1;
		-webkit-transition: opacity .3s ease;
		transition: opacity .3s ease;
	}
	.custom-slide._show {
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.modal-custom .action-close {
		top: 20px;
		right: 60px;
	}
	
	button.action-close span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	.modal-custom .action-close:before {
		font-size: 18px;
	}
	
	.block-authentication .actions-toolbar > .primary {
		float: none;
		display: block;
	}
	
	.block-authentication .actions-toolbar > .secondary {
		float: none;
		clear: both;
	}
	
	.authentication-wrapper .secondary .action {
		float: none;
	}
	
	.actions-toolbar {
		clear: both;
	}
}