.message.global.cookie.am-cookie {
    background: #ececec none repeat scroll 0 0;
    padding: 15px;
    text-align: center;
    z-index: 999999;
}
.message.global.cookie {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
        color: #333;
    margin: 0;
        display: block;
}
.message.global.cookie.am-cookie .content {
    float: left;
    width: 100%;
}
.message.global.cookie.am-cookie .content p {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 25px;
    width: initial;
}
.message.global.cookie.am-cookie .content p a {
    text-decoration: none;
    color: #141214;
    font-weight: 600;
}
.message.global.cookie a, .message.global.cookie a:hover {
    color: #141214;
}
.message.global.cookie.am-cookie .content .actions {
    display: inline-block;
    margin: 15px 0 0 5px;
    width: initial;
}
.message.global.cookie.am-cookie .content button.action {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-color: #000;
    border-radius: 0;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 38px;
    margin: 0 5px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    border: 1px solid #000;
}
.message.global.cookie.am-cookie .content button.action:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}