@import "../styles/Global.scss";

.customer-review-section {


    margin: 0px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 40px 0px;
    display: grid;


   .stamped-header-title {
	        float: left;
		    font-family: AlliesFont;
		    font-size: 24px;
		    letter-spacing: 0.2px;
		    line-height: 22px;
		    margin: 0 0 45px;
		    text-transform: uppercase;
		    width: 100%;
		    color: $BlackClr;
		    display: block !important;
	    }

   .customer-review-left-section {

		.stamped-summary {
		      display: flex;
		      align-items: center;
		}

		.stamped-summary-num {
		        display: block;
			    font-size: 38px;
			    line-height: 30px;
			    font-weight: bold;
			    margin-right: 5px;
			    margin-top: -5px;
	    }

	    .stamped-summary-text {
			    font-size: 13px;
			    margin-top: 10px;
			    display-inline:block;
	    }

	    .stamped-summary-start .fa {
		    font-size: 20px;
		    margin: 0px 5px;
	    }

	    .stamped-summary-action {
	       margin: 100px 0px;

	        a {

	            border-radius: 0;
			    clear: both;
			    float: left;
			    font-family: AlliesMediumFont;	
			    font-size: 12px;
			    font-weight: 400;
			    letter-spacing: 1px;
			    line-height: 36px;
			    margin: 15px 0 !important;
			    min-width: 162px;
			    padding: 0 !important;
			    text-align: center;
			    text-decoration: none;
			    color:#000;
			    text-transform: uppercase;
			    width: auto;
			    border: 1px solid #ccc;

			    &:hover {
			          background: $BlackClr none repeat scroll 0 0 ;
                      color: $WhiteClr;
			    }
	        }
	    }
    }

    .customer-review-right-section {

          ul {
             display:flex;
             border-bottom: 1px solid #ccc;
             padding-left: 0px;

             li {
               list-style-type:none;
               box-sizing: border-box;
			    color: $DarkGrayClr;
			    cursor: pointer;
			    display: inline-block;
			    font-family: AlliesFont;
			    font-size: 18px;
			    height: 100%;
			    letter-spacing: 1px;
			    line-height: 40px;
			    margin-right: 20px;
			    padding: 0;
			    text-transform: uppercase;
             }

             .react-tabs__tab--selected {
	               color:$BlackClr !important;
	               padding-bottom: 10px;
	               border-bottom: 2px solid $BlackClr;
	         }
          }

          .gedf-card:last-child {
             border-bottom: 0px;
             padding-bottom: 0px;
          }

          .gedf-card {
              border: 0px;
              padding-top: 20px;
              padding-bottom: 40px;
              border-bottom: 1px solid #ccc;
              margin-bottom: 20px;

               .stamped-review-avatar-content{
				    vertical-align: middle;
				    height: 56px;
				    background-color: #f5f5f5;
				    border-radius: 50%;
				    width: 55px;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    font-size: 19px;
				    color: #888;
				    font-weight: lighter;
			    }

              

                .h5 {
                   font-size: 11px;
                   color: #6c757d!important;
                   font-weight: 600;
                   letter-spacing: 2px;
                    
                    span {
				        color: #1cc286;
				        font-size: 14px;
				        margin-left: 5px;
				        margin-top: -15px;
				        font-weight: 100;
			        }

                }

                .h7 {
                  font-size: 12px;
                  margin-top: 8px;
                  font-family: 'Open Sans',Verdana,sans-serif;
                }

                .dropdown span {
                   font-size: 12px;
                   font-weight: 600;
                   color: #6c757d!important;
                }



              .card-header, .card-footer {
                background-color: transparent;
                border-bottom: 0px;
                border-top:0px;
              }

              .card-title {
                 float: left;
			    font-family: AlliesFont;
			    font-size: 24px;
			    font-weight: normal;
			    line-height: 30px;
			    margin: 10px 0 0;
			    color:$BlackClr;
			    text-transform: uppercase;
			    width: 100%;

			    
              }

              .card-text {
                color: $BlackClr;
			    float: left;
			    font-family: AvenirMedium;
			    font-size: 14px;
			    letter-spacing: 1px;
			    line-height: 20px;
			    width: 100%;
			    margin: 20px 0px;
              }

              .card-footer {
			    font-size: 12px;
			    letter-spacing: 1px;
			    width: 100%;

                 .social {

                    .stamped-rating-holder {

                        margin-right: 20px; 

                    }

                    .thumb {
                           margin-right: 10px;
                        } 
                 }
              }
          }
    }
	.stamped-form-label {
		color: #000;
		float: left;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 30px;
		text-transform: uppercase;
		width: 100%;
	}
	
	.spr-form-contact.stamped-form-contact input, .spr-form-review-body textarea {
		color: #000000;
		float: left;
		font-size: 14px;
		height: initial;
		letter-spacing: 1px;
		line-height: 40px;
		margin: 0;
		padding: 0 15px;
		display: block;
		width: 100%!important;
		min-height: 30px;
		background: #ffffff;
		background-clip: padding-box;
		border: 1px solid #c2c2c2;
		border-radius: 1px;
	}
	
	.review-form legend, .question-form legend{
		display: none;
	}
	
	.spr-form-actions.stamped-form-actions input {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: 1px solid #000000;
		color: #ffffff;
		font-size: 11px;
		height: initial;
		letter-spacing: 1px;
		line-height: 38px;
		margin: 15px 0;
		padding: 0 20px !important;
		text-transform: uppercase;
		transition: all 0.5s ease 0s;
		border-radius: 0;
		background: #000;
	}
	 .stamped-form-message p {
		float: left;
		font-size: 13px;
		letter-spacing: 1px;
		line-height: 22px;
		margin: 0 0 15px;
		text-align: center;
		width: 100%;
	}		   
	.spr-form-title.stamped-form-title {
		display: none;
	}
	
	.question-form-wrapper fieldset {
		clear: both;
		margin-bottom: 10px;
	} 
	.stamped-form-review-rating input {
		display: table;
		height: 5px!important;
		width: 5px!important;
		font-size: 1px!important;
		line-height: 5px!important;
		-webkit-appearance: none;
		border:none;
	}
	
	.stamped-form-input.stamped-starrating a span {
		display: none;
	}
	
	.stamped-form-input.stamped-starrating a {
		color: #000000;
		transition: all 0.5s ease;
		padding: 0 5px;
		font-size: 18px;
	}
	
	.stamped-form-review-rating {
		display: flex;
    align-items: center;
	}
	
	.stamped-form-review-rating label {
		margin: 0 20px 0 0;
		width: initial !important;
	}
	
	.stamped-form-review-title {
		padding-top: 15px;
	}
	
	.stamped-form-review-title input{
		color: #000000;
		
		font-size: 14px;
		height: initial;
		letter-spacing: 1px;
		line-height: 40px;
		margin: 0;
		padding: 0 15px;
		display: block;
		width: 100% !important;
		min-height: 30px;
		background: #ffffff;
		background-clip: padding-box;
		border: 1px solid #c2c2c2;
		border-radius: 1px;
	}
	
	
	.stamped-form-input textarea {
		float: left;
		font-size: 14px;
		font-weight: normal;
		height: 150px !important;
		letter-spacing: 1px;
		line-height: 40px;
		padding: 0 15px;
		box-shadow: none;
		width: 100%;
		border: 1px solid #c2c2c2;
	}
	
	.stamped-form-review-body {
		margin-top: 10px;
		clear: both;
	}
	
	.stamped-form-review-title {
		clear: both;
	}
	.gedf-card .card-footer a {
		color: #000;
	}
	
}