@import "../styles/Global.scss";

.faq-page {

.top-full-banner {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    max-height: 340px;
    overflow: hidden;
    padding: 0;
}

.top-full-banner img {
    float: left;
    max-height: 340px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
	
	.faq-content .faq-desc {
	display: inline-block;
	font-family: AvenirMedium;
}

.faq-heading {
	 a {
	   color: #000;
	 }
}

.faq-content .faq-desc .col-md-6 {
	margin: 0 0 50px;
	padding: 0;
	width: 100%;
	font-weight: lighter;
    font-style: normal;
    font-size: 14px;
}
.faq-content h2.faq-desc-title {
	font-family: AlliesFont;
	font-size: 30px;
	letter-spacing: 0;
	margin: 0 0 20px;
	text-transform: uppercase;
}
.faq-content .faq-desc-subtitle {
	display: inline-block;
	font-family: AvenirMedium;
	font-size: 14px;
	letter-spacing: 0.25px;
	line-height: 12px;
	text-transform: capitalize;
	width: 100%;
	font-weight: 600;
}
.faq-content .accordion {
	background: white none repeat scroll 0 0;
	border-top: 2px solid #d1d3d4;
	cursor: pointer;
	display: inline-block;
	outline: medium none;
	padding: 0;
	text-align: center;
	transition: all 0.4s ease 0s;
	width: 100%;
}
.faq-content .accordion span.faq-margin {
	color: #000000;
	display: inline-block;
	font-family: AlliesFont;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 80px;
	margin: 0;
	text-align: left;
	width: 100%;
	position: relative;
	transition: all 0.4s ease 0s;
	background: rgba(0,0,0,0) url(../images/plus-icon.png) no-repeat scroll right center;
}

.faq-content .accordion.active span.faq-margin {
    background: rgba(0,0,0,0) url(../images/minus-icon.png) no-repeat scroll right center;
}
.faq-content .panel {
	background-color: white;
	float: left;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: max-height 0.3s ease-out 0s;
	width: 100%;
}
.faq-content .panel .col-md-6 {
	float: left;
	padding: 0 40px;
	width: calc(50% - 40px);
}
.faq-content .panel .faq-leftsec {
	padding-left: 15px;
}
.faq-content .panel .faq-rightsec {
	float: right;
	padding-right: 0;
}
.faq-page-section .faq-content .faq-block {
	border-top: 1px solid #808285;
	display: inline-block;
	padding: 15px 15px;
	width: 100%;
}
.faq-content .faq-block .faq-ques {
	display: inline-block;
	font-family: AlliesFont;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 24px;
	margin: 10px 0 15px;
	width: 100%;
	color: #000000;
}
.faq-content .faq-block .faq-ans {
	display: inline-block;
	width: 100%;
}
.faq-content.cms-content .panel.active {
    max-height: 100%;
}
.faq-content .faq-block p b {
	display: block;
	font-family: AvenirMedium;
	font-weight: normal;
}
.faq-content .faq-block .faq-ans p {
	letter-spacing: 0;
	line-height: 18px;
}
.faq-content .faq-block .faq-ans .faq-title {
	font-family: AlliesMediumFont;
	line-height: 15px;
	margin: 0;
}
.para {
	width: 70%;
	margin: auto;
	background: #241f20;
}
.cms-content p {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 15px;
    width: 100%;
    color: #000;
}
.faq-content .faq-block .faq-ans a {
    color: #000;
}
.faq-content .faq-block {
    border-top: 1px solid #808285;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}
.cms-content .faq-title, .cms-content .delivery-title {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: #808285;
    display: inline-block;
    width: 100%;
}
}