@import "../styles/Global.scss";

.footer_btm {

    footer {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;

        .copyright {
            background-color: $BlackClr;
            color: $DarkGrayClr;
            display: inline-block;
            font-size: 11px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: 2px;
            line-height: 23px;
            padding: 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            padding: 10px 0;
        }
    }
 
} 



.page-footer {
    	  background-image: url("../images/footer.png");
    	  background-size: cover;
        display: inline-block;
        padding: 44px 0;
        width: 100%;
        min-height: 360px;

        .footer-logo {

            display: inline-block;
            margin: 30px 0 30px;
            text-align: center;
            width: 100%;

            img {
               width: 120px;
               float: left;
            }
        }

        .newsletter {
            display: inline-block;
            width: 100%;
            color: $DarkGrayClr;

            .title {
              text-transform:uppercase;
              letter-spacing:2px;
              font-size:12px;
              font-weight:600;
            }
            .error{
                color: red;
                font-size: 0.7rem;
                padding-top: 10px;
                letter-spacing: 1px;
                line-height: 18px;
                white-space: normal;
            }

             .subscribe-btn {
                  color: $DarkGrayClr;;
                  transition: all 0.5s ease;
                  border-bottom-left-radius: 0;
                  border-top-left-radius: 0;
                  margin-left: -20px !important;
                  border: medium none;
                  line-height: 36px;
                  margin: 0;
                  padding: 0;
                  position: relative;
                  cursor: pointer;
                  width: 28px;
                  font-size: 20px;
                  background: none;
                  height: 36px;

            }
        }


        .input-design { 
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #8a8a8a;
            display: inline-block;
            font-size: 12px;
            height: 37px;
            letter-spacing: 1px;
            line-height: 36px;
            padding: 0;
            text-align: left;
            width: 90%;
            border-bottom: 1px solid #8d8d8d;
            border-radius: 0;

            .title {
                  color: #949494!important;
                  display: inline-block;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: normal;
                  letter-spacing: 1.7px;
                  line-height: 14px;
                  margin-bottom: 15px;
                  width: 100%;
                  text-transform: uppercase;
            }


        }

        .social-link {
              margin: 30px 0 30px;
              padding: 0 40px;
              text-align: left;

              a {
                
                display: inline-block;
                vertical-align: middle;
                margin: 0 15px 0 0;
              }
        }

        .info-page {

            li {

              list-style: none;

              a {
                    clear: both;
                    color: $DarkGrayClr !important;
                    float: left;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 2px;
                    line-height: 32px;
                    padding: 0 11px;
                    text-transform: uppercase;
                    transition: all 0.5s ease; 

                    &:hover  {
                       color: $WhiteClr !important;
                       text-decoration: none;
                    }
              }

            }


        }

}


