/*---Variables decalration---*/

$BlackClr: #000000;
$WhiteClr: #fff;
$DarkGrayClr: #808285;

/*---Variables decalration---*/
:focus{
    outline: none !important;
}
.important-box {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #e4e1e1;
    box-shadow: 0px 0px 20px #e6e6e6;
    color: $BlackClr;
}

.required {
	content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}


.cms-content {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        clear: both;
        max-width: 1280px;
        padding-left: 30px;
        padding-right: 30px;
        width: auto;
        font-family: AvenirMedium;
    }
    .product-error{
		margin: 0 0 10px;
		padding: 12px 20px 12px 25px;
		display: block;
		font-size: 0.8rem;
		background: #fae5e5;
		color: #e02b27;
		padding-left: 45px;
		position: relative;
    }
    .spinner-div {
        flex-direction: column;
    }
    
    .spinner-div p {
        font-weight: 600;
        padding-top: 20px;
    }
 