

.navbar {
	border-top: 1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
    justify-content: flex-end !important;
    
    .navbar-nav {

            li a {

                display: inline-block;
                color: #000;
                font-size: 11px;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 24px;
                text-transform: uppercase;
            }

            .nav-item {

                padding-right: 1.5rem !important;
                padding-left: 1.5rem  !important;
                text-transform: uppercase;
                font-size: 14px;
            }
       
            

    }

}
@media only screen and (max-width:768px){
    
}
