@import "../styles/Global.scss";

.home_banner {
    position:relative;
    color:$BlackClr;
	

	.banner_container {
	    position: absolute;    
	    left: 50px;
	    max-width: 350px;
        width: 100%;
	    position: absolute;
	    right: 0;
	    text-align: left;
	    top: 43%;
	    transform: translate(0px, -43%);
	    width: 100%;
	    min-height: 160px;
	    float: left;




	    h1 {
	        color: $BlackClr;
		    font-size: 35px;
		    font-weight:normal;
		    font-style:normal;
		    line-height:40px;
		    margin-bottom: 15px;
		    font-family: AlliesFont;

	    }

	    p {

	        color: $BlackClr;
            margin: 0 0 15px;
		    font-size: 13px;
		    line-height: 20px;
		    width: 100%;

	    }

	    a {
	        background: $BlackClr;
		    border-radius: 0;
		    width: 185px;
		    padding: 0;
		    color: #fff;
		    border: 1px solid $BlackClr;
		    transition: all 0.5s ease;
		    white-space: nowrap;
		    text-align: center;
		    display: inline-block;
		    font-size: 12px;
		    letter-spacing: 2px;
		    line-height: 38px;
		    text-transform: uppercase;
		    text-decoration: none;
		    margin-top: 35px;
	    }

	}
}


.product {


   .homepage-product-heading {
	   color: $BlackClr;
	    font-size: 24px;
	    line-height: 20px;
	    margin: 0px 0 10px;
	    font-family: AlliesFont;
	    text-transform: uppercase;
    }

    .homepage-product-text {
        color: $BlackClr;
	    float: left;
	    font-size: 14px;
	    font-style: normal;
	    font-weight: lighter;
		line-height: 21px;
		width: 60%;
    }

	.product .card {
		overflow: hidden;
	}
    .view_btn {
        text-align: right;
	    color: $DarkGrayClr!important;
	    float: right;
	    text-transform: uppercase;
	    font-size: 12px;
	    font-weight: normal;
	    font-style: normal;
	    letter-spacing: 2px;
	    text-decoration: underline;
	    line-height: 21px;
	    margin: 21px 0 0;
    }
   
    .card {
      border:0px;

       img {
	     display: inline-block;
	     margin: 0;
	     max-width: calc(100% - 30px);
	     margin: 0 auto;
	     min-height: 380px;
	     height: auto;
	     max-height: 400px;
	     padding: 0;
	    transition: transform .2s;

	     &:hover {
	          -ms-transform: scale(1.1); /* IE 9 */
			  -webkit-transform: scale(1.1); /* Safari 3-8 */
			  transform: scale(1.1);
		    }
	   }

	   button {
	        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		    border-radius: 0;
		    display: inline-block;
		    line-height: 38px;
		    min-width: 164px;
		    font-family: AlliesMediumFont;
		    padding: 0;
		    text-transform:uppercase;
		    font-size: 12px;
		    letter-spacing: 2px;
		    font-weight:bold;
		    width: initial;
		    border: 1px solid $BlackClr;
		    color: $BlackClr;
		    transition: all 0.5s ease;

		    &:hover {
		     color:$WhiteClr;
		     background-color:$BlackClr;
			}
			// &:disabled{
			// 	color:$WhiteClr;
		    //  background-color:$BlackClr;
			// }
	   }
	   button:disabled,
		button[disabled]{
			color:$WhiteClr;
		    background-color:$BlackClr;
		}
		// button:disabled::after{
		// 	content: 'Add to Cart';
		// 	   display: block;
		// }

		//    button:after {
		// 	   content: 'Add to Cart';
		// 	   display: block;
		// 	}

		// 	button:focus:after,button:active:after{
		// 	   	content: 'ADDING...';
		// 	    display: block;
		//    }

	    .card-title {
		    display: inline-block;
		    font-size: 15px;
		    color: $BlackClr;
		    line-height: 20px;
		    letter-spacing: 2px;
		    margin: 10px 0 12px;
		    width: calc(100% - 15px);
		    min-height:63px;
		    max-height:90px;
		    z-index: 9999;
		    font-weight: normal;
		    font-family: AlliesMediumFont;
		    text-transform:uppercase;
		}

		.rating {

		   display-inline:block;

		   a {

		     font-size: 10px;
             color: #000;
             margin-right:10px;
		   }

		   .fa-star {
		      margin: 0px 2px;
		   }
		}

		.stamped-badge {
		    min-height: auto;
		    min-width: auto;
		    display: block;
		    cursor: pointer;
		    margin: 20px 0px;

		    .porduct_desc {
		        display:none;
		        padding: 0px 10px;
			    margin: 10px 6px;
			    font-family: AlliesFont;
			    font-style: italic;
			    font-size: 15px;
			    color: #000000;
			    letter-spacing: 1px;
			     min-height: 67px;

		    }
           
           .reviews {

		    a {
		        font-size: 11px;
			    letter-spacing: 2px;
			    line-height: 16px;
			    margin: 0;
			    width: initial;
			    text-transform: uppercase;
			    color: $DarkGrayClr;

			    &:hover {
			       text-decoration:none;
			    }
		    }
		}

		}

		

		.attribute {
		        display: inline-block;
		        font-size: 12px;
		        font-weight: 600;
		        letter-spacing: 2px;
			    padding: 0;
			    width: 100%;
			    line-height: 21px;
			    font-family: AlliesMediumFont;

			    .product-volume-attr {
			        display: inline-block;
				    line-height: 21px;
				    text-transform: uppercase;
				    width: initial;
			    }

			    .product-price {
			        display: inline-block;
				    float: none;
				    line-height: 21px;
				    padding: 0;
				    width: initial;
			    }

			    .separator {
				    display: inline-block;
				    height: 15px;
				    line-height: 21px;
				    margin: 0 12px;
				    position: relative;
				    width: 1px;

				    &::after {
				        border-left: 1px solid #000;
					    content: " ";
					    height: 15px;
					    left: 0;
					    line-height: 21px;
					    margin: 0 auto;
					    position: absolute;
					    right: 0;
					    top: 3px;
					    width: 0;
				    }
			    }
		}
   }
	
	
}


.recommend_section {
    background-image: url("../images/recommend.jpg");
	display:flex;
	justify-content:center;
	background-size: 100% 100%;
	align-items:center;
    position: relative;
    min-height: 400px;
    max-height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    text-align:center;

    .recmnd_container {

       h2 {
        color: $BlackClr;
        font-family: AlliesFont;
	    display: inline-block;
	    font-size: 47px;
	    line-height: 47px;
	    margin: 0 0 50px;
	    text-transform: uppercase;
	    vertical-align: middle;
	    width: 100%;
       }

       a {
            border: 1px solid $BlackClr;
		    background-color: $BlackClr;
		    color: $WhiteClr !important;
		    font-family: AlliesFont;
		    display: inline-block;
		    font-size: 17px;
		    font-weight: normal;
		    letter-spacing: 1px;
		    line-height: 42px;
		    min-width: 290px;
		    text-decoration: none;
		    text-transform: uppercase;

		    &:hover {
		      background-color: $WhiteClr;
		      color: $BlackClr !important;
		    }
       }
    }

}

.vogue-section {
   display: inline-block;
    margin: 40px 0 68px;
    position: relative;
    text-align: center;
    width: 100%;

  .carousel-item {
     a {
        color: $BlackClr;
	    display: inline-block;
	    font-size: 24px;
	    font-style: normal;
	    font-weight: normal;
	    width: 100%;
	    font-family: AlliesFont;
	    padding: 0px 30px;
	    line-height: 30px;
        transition: all 0.5s ease;
     }
  }
	
   .fa-angle-right, .fa-angle-left {
        font-size: 30px !important;
	    background-color: #e5e5e5;
	    border-radius: 50%;
	    width: 35px;
	    height: 35px;

	    &:hover {
	    background-color: $BlackClr;
	    }
    }

}

.page_banner {
	
	.image {
	    float: left;
	    max-height: 340px;
	    object-fit: cover;
	    object-position: center center;
	    width: 100%;	    
	    display: block;
	    height: auto;
	    max-width: 100%;
	}    

}

