@media only screen and (max-width: 1024px) {
  
  .product-allies-ethos {

      .footBanner_icon {
          width: 33% !important;
      }

  }
}


@media only screen and (max-width: 768px) {

  .navbar {
     padding: 0px !important;

     .navbar-toggler {
        position: absolute;
        left: 0;
        top: -45px;
        margin: 0 !important;
        border:none;
    }
     .navbar-nav {
        text-align: center;
     }

     .navbar-collapse {
         background-color: #000;

         li:last-child {
            border-bottom: 0px;
         }

         li {

            border-bottom: 1px solid #ccc;
            padding: 15px;

           a {
              color:#fff !important;
              font-size: 14px;

              &:hover {
                 text-decoration: none;
              }
           }
         }
     }
  }	

  .payment-section .pay-right {
      border-left: 0px !important;
  }

   .product-allies-ethos {

      .footBanner_icon {
          width: 50% !important;
      }

  }

  .recommend_section .recmnd_container h2 {
      font-size: 38px;
      padding: 0px 20px;
  }
  .info-page ul {
    padding: 0;
}
.top_banner {
    height: auto;
}
.modal_contact_popup .widget-popup {
    top: unset !important;
    text-transform: uppercase;
    bottom: 0px;
    position: fixed;
    right: 0;
    z-index: 99999;
    transform: rotate(360deg);
    width: 50%;
    border-radius: 0;
}
.modal_reward_popup .widget-popup{
    top: unset !important;
    text-transform: uppercase;
    bottom: 0px;
    position: fixed;
    left: 0;
    z-index: 99999;
    transform: rotate(360deg);
    width: 50%;
    border-radius: 0;  
}
.scroll_top button {
    bottom: 60px !important;
}
.product .view_btn {
    text-align: left;
    float: left;
}
.container-fluid.pl-5.pr-5 {
    padding: 0 15px !important;
    margin-bottom: 0 !important;
}
.page-footer .footer-logo {
    margin-bottom: 30px !important;
}

.page-footer .social-link {
    margin: 30px 0 30px !important;
    padding: 0 !important;
}
.rowowl .owl-carousel .owl-nav .owl-prev {
    left: 0px;
}
.product_list .product_list_menu ul {
    height: auto;
}
.retailer-section {
    padding: 30px 0;
}
.menu-over-banner .logo img {
    max-width: 100%;
    height: auto;
}
.footBanner_content {
    padding: 0 0 20px 0px !important;
    display: flex !important;
    flex-wrap: wrap;
}
.tooltip .tooltip-inner {
    padding: 60px 10px !important;
}
.checkout-form .checkout-btn a {
    max-width: 100%;
    line-height: 40px;
    padding: 10px 20px;
    width: 100%;
}
.product .card img {
    min-height: 100%;
}
.container-fluid.my-5.pl-5.pr-5.product .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.block-content{
    padding: 0 15px;
}
.table-wrapper.orders-recent {
    width: 100%;
}
.form.form-edit-account .fieldset {
    padding: 0;
}
.block.block-dashboard-addresses .items.addresses li {
    width: 100% !important;
}

.customer-addresses-toolbar.toolbar.bottom {
    clear: both;
    width: 100%;
}

.block.block-addresses-list .block-content {
    padding: 0;
}

.block.block-dashboard-info .block-content {
    padding: 0;
}
.form.form-edit-account .fieldset {
    padding: 0 !important;
}
.block.block-dashboard-addresses .items.addresses {
    width: 100%;
}

}


@media only screen and (max-width: 530px) {
   .product-allies-ethos {

      .footBanner_icon {
          width: 50% !important;
      }

  }

  .menu-over-banner .logo {
      left: 40%;
      width: 35%;
  }

  .home_banner .banner_container {
       max-width: 90%;
       left: 15px;

       h1{
        
        font-size: 20px;
        line-height: 24px;
      }

      a {
         margin-top:3px;
      }
  }

  .product .card img {
         max-width: calc(100% - 109px);
         min-height: 278px;
  }

  .recommend_section .recmnd_container h2 {
    font-size: 29px;
    }

    .checkout-form {
           width: 100%;
          display: grid;
    }

    .checkout-form .view-edit {
         width: 100%;
    }

}
@media only screen and (min-width:768px){
    .row.cart_details .col-xl-6.col-lg-6.col-md-4.col-sm-12.col-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}