@import "../styles/Global.scss";

.menu-over-banner {
    padding: 10px 0px;
    position: relative;

    .navbar {
    
        border:0px;
    }

    .cart_popover {
        display: inline-block;
        vertical-align: middle;
    }

      ul li a {
       
          padding-left:1.5rem;
          padding-bottom: 1.5rem;
          text-decoration: none;  
          font-size: 10px;
          font-style: normal;
          font-weight: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 24px;

      }

      .logo {
            text-decoration: none;
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20%;

      }

      .text {
            display: flex;
            font-size: 11px;
            margin-left: 37px;
            font-weight:bold;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            margin-top: 3px;
            color: $BlackClr;
            cursor:pointer;
      }

      .dropdown {
            position: relative;
            display: inline-block;

            &:hover .dropdown-content {
                 display: block;
            }
      }

      .dropdown-content {
            display: none;
            position: absolute;
            background-color: #000;
            min-width: 130px;
            right: -57px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 9;

            a {
             
                color: $DarkGrayClr;
                padding: 10px !important;
                border-bottom: 1px solid $DarkGrayClr;
                text-align: center;
                font-size: 11px;
                font-weight:600;
                text-decoration: none;
                display: block;

                &:hover {
                    color: $WhiteClr;
                }

            }

            a:nth-child(3) {
                border-bottom: 0px;
            }


      }

}

    
    .popover {
      width: 100%;
      background-color:$BlackClr !important;
      color:$WhiteClr !important;
      max-width:100% !important;
      left: 0px;
      border:0px !important;
      border-radius: 0px !important;
      transform: translate(0px, 37px) !important;


      button {
         background-color:transparent;
         border:0px;
         font-size:40px;
         float: right;
         position: absolute;
         right: 5px;
         top: -22px;
         font-weight: 200;

         &:hover, &:focus {
            background-color:transparent !important;
            border-color:transparent !important;
            box-shadow: transparent !important;
         }
      }

      .btn:focus {
        box-shadow: none !important;
      }

      .arrow {
         display:none !important;
      }

      .no-items-cart {
         text-align:center;
         display:flex;
         justify-content:center;
         align-items:center;
         padding: 20px 10px;
         max-height: 100%;
         min-height: 110px;
         letter-spacing: 1.5px;
         font-weight:bold;
         transform: translate(0px, 52px) !important;
      }

  }


.tooltip {
           transform: translate(0px, 47px) !important;
           left: 0px !important;
           padding: 0px !important;
           display: inline-flex;
           position:relative;

        .arrow {
           display:none !important;
         }

         .tooltip-inner {
            max-width: 100%;
            width: 100%;
            border-radius: 0px;
            justify-content: center;
            display: inline-table;
            align-items: center;
            padding: 43px 60px;
            font-size:20px;
         }

         .close-icon {
            color:#fff;
            font-size: 30px;
            float:right;
            cursor:pointer;
            position: absolute;
            right: 20px;
            top: 0px;
         }
         
}







