.mobile-banner-new {
    position: relative;
}

.mobile-banner-content p {
    text-align: center;
}
.mobile-banner-content {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 100%;
    text-align: center;
}
.mobile-banner-content p {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px;
}
.mobile-banner-content a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    display: inline-block;
    line-height: 38px;
    min-width: 164px;
    padding: 0;
    width: initial;
    border: 1px solid #fff;
    transition: all 0.5s ease;
    white-space: nowrap;
    color: #fff;
}
.mobile-banner-new img {
    max-width: 100%;
}