header.page-header.fixed-header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999999;
    position: fixed;
    background: #fff;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name:ScrollMenu;
    -moz-animation-name:ScrollMenu;
    -o-animation-name:ScrollMenu;
    animation-name:ScrollMenu;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes ScrollMenu {
    0% {
        -webkit-transform: translateY(-50px);
    }
    90% {
        -webkit-transform: translateY(0);
    }
}

@keyframes ScrollMenu {
    0% {
        -webkit-transform: translateY(-50px);
    }
    90% {
        -webkit-transform: translateY(0);
    }
}
.mobile-menu #custom-header-id {
    display: block;
    width: 100%;
    z-index: 9;
}
.mobile-menu .menu-over-banner {
    position: relative;
}
.mobile-menu .menu-over-banner {
    display: inline-block;
    padding: 18px 0;
    width: 100%;
}
.mobile-menu .menu-over-banner-container {
    padding: 0 10px;
}
.mobile-menu .menu-over-banner-container {
    width: 100%;
    box-sizing: border-box;
}
.mobile-menu .menu-over-banner-container {
    display: inline-block;
    height: 24px;
}
.mobile-menu .menu-section {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 0;
    width: 100%;
}

.mobile-menu .menu-section .main-menu {
    float: left;
    width: initial;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
}

.mobile-menu .menu-section .header-main-menu {
    color: #000000;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 24px; 
    text-transform: uppercase;
}
.mobile-menu .menu-section .header-main-menu {
    font-size: 0px;
    position: relative;
}
.mobile-menu .menu-section .header-main-menu:before {
    top: -8px;
}
.mobile-menu .menu-section .header-main-menu:before, .menu-section .header-main-menu:after {
    width: 20px;
    height: 3px;
    content: '';
    background: #231f20;
    position: absolute;
    left: 0px;
}

.mobile-menu .menu-section .slide-menu-show {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    left: -100%;
    max-width: 100%;
    padding: 80px;
    position: fixed;
    top: 0;
    transition: left 0.5s ease 0s;
    width: 480px;
    z-index: 999999;
    overflow: hidden;
}
.mobile-menu .menu-section .slide-menu-show.active {
    left: 0;
    transition: left 0.5s ease 0s;
}
.mobile-menu .menu-section .slide-menu-show {
    max-width: 100%;
    padding: 40px;
    max-width: 480px;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}
.mobile-menu .menu-section .main-logo .logo {
    max-width: 100%;
    vertical-align: middle;
    left: 50%;
}

.mobile-menu #custom-header-id .minicart-wrapper {
    padding: 0px 0px;
    float: right;
    text-align: left;
    width: initial;
    font-size: 11px;
    text-transform: uppercase;
    height: 24px;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0;
}
.mobile-menu .minicart-wrapper .action.showcart {
    display: flex;
    width: initial;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}
.minicart-wrapper .action.showcart .counter-number {
    text-shadow: none;
    color: #000000;
    font-size: 11px;
}
.minicart-wrapper .action.showcart span.counter-number:before {
    content: '(';
}
.minicart-wrapper .action.showcart span.counter-number:after {
    content: ')';
}

.mobile-menu .menu-section .minicart-wrapper .showcart span.counter.qty.empty {
    display: inline-block;
}
.mobile-menu .menu-section .inner-menu-heading {
    float: left;
    width: initial;
    margin: 0 0 100px;
}
.mobile-menu .menu-section .inner-menu .close-inner-menu {
    color: #cccccc;
    float: right;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    width: initial;
    transition: all 0.5s ease;
}
.mobile-menu  .menu-section .slide-menu-show-conatiner {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
}
.mobile-menu .menu-section .inner-menu .inner-menu-container {
    display: inline-block;
    width: 100%;
}
.mobile-menu .menu-section .inner-menu-container ul {
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 0;
}

.mobile-menu .menu-section .inner-menu-container ul li {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
    padding: 4px;
}
.mobile-menu .menu-section .inner-menu-container ul li a {
    color: #979595;
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 0;
   padding-bottom: 10px;
}

.mobile-menu .header.links.custom-register {
    padding: 0;
    clear: both;
}
.mobile-menu .menu-section .header.links li {
    display: block;
    margin: 0;
    width: 100%;
   
}
.mobile-menu .menu-section .header.links li a {
    color: #808285;
    display: block;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    padding-left: 0;
    padding-bottom: 10px;
}

.mobile-menu .header.links {
    padding: 0;
}

.mobile-menu .inner-menu {
    margin-bottom: 30px;
}
.fade.cart_popover.mobile-fixed{
position:fixed !important;
}
.mobile-fixed .cart_list h2 {
    font-size: 15px;
}
.mobile-fixed  .products {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tooltip.mobile-fixed .close-icon{
top:15px;
}