#popup-box {
    background: #000 none repeat scroll 0 0;
    height: initial;
    left: 50%;
    margin: auto;
    max-width: 480px;
    padding: 25px 30px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 9999;
}
#popup-box .close {
    color: #808285 !important;
    display: inline-block;
    font-family: AlliesFont;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    right: 20px;
    text-align: right;
    text-decoration: none;
    top: 20px;
}
.pop-up-heading {
    color: #fff;
    display: inline-block;
    font-family: AlliesFont;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    margin: 53px 0 14px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.pop-up-text {
    color: #fff;
    display: inline-block;
    font-family: AlliesFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 15px;
    padding: 0 7%;
    text-align: center;
    width: 100%;
}
.pop-up-text a{
    color: #fff;
}
.pop-up-btn {
    border: 1px solid #808285;
    color: #808285 !important;
    display: block;
    font-family: AlliesFont;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 38px;
    max-width: 260px;
    padding: 0;
    text-transform: uppercase;
    width: initial;
    transition: all 0.5s ease;
    margin: 20px auto 20px;
    text-align: center;
}
.pop-up-btn:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #000000 !important;
    text-decoration: none;
}
.pop-up-text.note {
    color: #808285;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:768px){
    #popup-box {
        width: 90%;
    }
}