@import "../styles/Global.scss";

.press-section {
   clear:both;
   
   .press-list {
        border-bottom: 1px solid #d1d3d4;
	    float: left;
	    margin: 20px 20px;
   }
	
    .press-date {
	    color: $DarkGrayClr;
	    float: left;
	    font-size: 12px;
	    font-family: AlliesMediumFont;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    width: 100%;
    }

    .press-img {
	    float: left;
	    text-align: center;
	    width: 100%;
	    height: 270px;
	    display: flex;
	    align-items: center;

	    img {
		    display: inline-block;
		    vertical-align: middle;
		    max-width: 100%;
		    height:inherit;
		    width: initial;
        }
    }

    .press-content {
       float: left;
       width: 100%;
       font-family: AlliesFont;
       min-height: 150px;
       font-size:16px;
    }

    
    .pages {
        justify-content: flex-end;
	    align-items: center;
	    margin: 24px 20px;

      .pagination {
        padding-left: 15px !important;
   
        li {
	        font-size: 1.2rem;
		    line-height: 30px;
		    text-align: center;
		    letter-spacing: normal;
		    margin: 0 8px 0 0;
	   	    display: inline-block;
	   	    background: #ececec none repeat scroll 0 0;
		    font-weight: normal;
		    width: 30px;

	   	    a {
	   	        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			    text-align: center;
			    padding: 0;
			    width: initial;
			    color: $DarkGrayClr;
			    font-size: 20px;

			    &:hover {
			      text-decoration: none;
			    }
	   	    }

	   	    .undefined {
	   	       pointer-events: none;
			   cursor: default;
			   color: $BlackClr;
	   	    }
        }
	
      }

    }
    


}

.view-features {
    margin : 100px 0px 0px 0px;
	  a {
	    color: $DarkGrayClr !important;
	    display: inline-block;
	    font-family: AlliesMediumFont;
	    font-size: 12px;
	    font-style: normal;
	    font-weight: normal;
	    letter-spacing: 2px;
	    position: relative;
	    text-transform: uppercase;
	    width: initial;
	    line-height: 21px;

	    &:hover {
	      text-decoration: underline;
	    }
	  }
}

