@import "../styles/Global.scss";

.privacy-policy {

    
.content-heading {
    background: #241f20 none repeat scroll 0 0;
    color: white;
    float: left;
    padding: 240px 0 40px;
    text-align: center;
    width: 100%;
}
.content-heading h2 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 30px;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
    font-family: AlliesFont;
    font-weight: normal;
    font-style: normal;
}
.content-heading p {
    ont-family: AvenirMedium;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: auto;
    max-width: 500px;
    width: initial;
}
.content-heading a {
    color: #fff !important;
}

.cms-content ul li {
    float: left;
    width: 100%;
    margin: 5px 0;
    list-style: outside disc;
    line-height: 20px;
    font-size: 14px;
}

.content-heading.top-full-banner {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    max-height: 340px;
    overflow: hidden;
    padding: 0;
}
.content-heading.top-full-banner img {
    float: left;
    max-height: 340px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.cms-content h2 {
    display: inline-block;
    font-family: AlliesFont;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 5px;
    width: 100%;
    color: #000000;
}
.cms-content p {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    margin: 0 0 15px;
    width: 100%;
    color: #000000;
}

.cms-content a {
     color: #000000;
}

.cms-content h4 {
    display: inline-block;
    font-family: AlliesMediumFont;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 8px;
    text-transform: capitalize;
    width: 100%;
    color: #000000;
}
.cms-content .cms-cont-block {
    display: inline-block;
    margin: 0 0 20px;
    width: 100%;
}
.cms-content .faq-title,
.cms-content .delivery-title {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: AlliesMediumFont;
    font-weight: normal;
    font-style: normal;
    color: #808285;
    display: inline-block;
    width: 100%;
    margin: 0 0 5px;
    line-height: 14px;
}
#maincontent .content-heading {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
body.press-index-index,
body.cms-about-us,
body.cms-faq {
    overflow-x: hidden;
}

}

