@import "../styles/Global.scss";


.product_detail_page {
	

	.product_img {
	   display:flex;
       justify-content:center;
       padding: 20px;
       height: 100%;

	    img {
	       width: auto;
	       max-height: 500px;
	       height: calc(100% - 100px);

	    }
	}

	.product_content:last-child {
	   border-bottom: 0px;
	} 

	.product_content {
	     padding-top: 30px;
	     padding-bottom: 30px;
	     border-bottom: 1px solid $BlackClr;

	

       .product-name {
                display: inline-block;
			    font-size: 30px;
			    font-style: normal;
			    font-weight: normal;
			    line-height: 30px;
			    font-family: AlliesFont;
			    text-transform: uppercase;
			    width: 100%;
		    
       }

       .stamped-badge {
            margin-top: 15px;
             font-family: AvenirMedium;

            .fa-star   {
				display: inline-block;
				text-align: center;
				margin: 0px 5px;
                font-size: 10px;
            }

            .reviews {
              margin-left: 5px;

               a {
                    color: $DarkGrayClr;
				    font-size: 11px;
				    letter-spacing: 2px;
				    line-height: 14px;
				    margin: 0;
				    width: initial;
				    text-transform: uppercase;

				    &:hover {
				       text-decoration:none;
				    }
               }
            }

        }

        .attribute-title {
		    color: $DarkGrayClr;
		    font-size: 11px;
		    font-weight: normal;
		    letter-spacing: 2px;
		    line-height: 16px;
		    font-family: AlliesMediumFont;
		    margin: 0 0 18px;
		    text-transform: uppercase;
		    display: inline-block;
		    width: 100%;
        }

        .attribute-value {

            p {
                display: inline-block;
                font-family: AvenirMedium;
			    font-size: 14px;
			    font-style: normal;
			    font-weight: normal;
			    letter-spacing: 0;
			    line-height: 20px;
			    margin: 0;
			    width: 100%;
			    color: $BlackClr;
			    margin-bottom: 30px;
            }

            strong {
               font-size: 16px;
               font-family: AlliesFont;
            }
        }

        .learn_more {
            color:#000;
		    font-size: 20px;
		    letter-spacing: 0;
		    font-family: AlliesFont;
		    text-transform: capitalize;
		    width: 100%;
		    text-decoration: none;
        } 

        .custom-social-sharing-icon-container {
            width: 100%;
            float: left;
            margin: 15px 0 50px;

            a {
              color: $BlackClr;
              transition: all 0.5s ease;
              font-size: 13px;
              float: left;
		      margin: 0 30px 0 0;
		      width: initial;

		      img {
		            float: left;
				    margin: 0 8px 0 0;
				    max-width: 22px;
				    width: initial;
				    vertical-align: middle;
		      }

		      span {
		            color: #949699;
		            text-transform: uppercase;
				    float: left;
				    letter-spacing: 2px;
				    line-height: 22px;
				    transition: all 0.5s ease 0s;
				    width: initial;
				    vertical-align: middle;
				}
            }
        }     

	}
}


.product_content.infobox_sec {
    position:relative;
    padding: 15px 0;
}
.product_content.infobox_sec:before {
    content:'';
    background: rgba(0, 0, 0, 0) url('../images/plus-icon.png') no-repeat scroll center center;
    width:40px;
    height:40px;
    position:absolute;
    top:10px;
    right:10px;
}
.product-add-form {
	 background-color: $BlackClr;
	 padding: 30px 10px;
	 font-family: AlliesMediumFont;

	 .cart_title_name {
	   color: #808285;
	   float: left;
	   font-size: 11px;
	   letter-spacing: 2px;
	   text-transform: uppercase;
	   display: block;
       width: 100%;
       margin-bottom: 5px;
	 }

	.cart_title_value {
		float: left;
	    width: initial;
	    white-space: nowrap;
	    color: #ffffff;
	    font-size: 16px;
	    letter-spacing: 2px;
	    line-height: 25px;
	    text-transform: uppercase;
	    margin: 0;
    }

    .quantity {

       .fa {
         float: left;
         margin-top: 8px;
         color: $WhiteClr;
         font-size: 12px;
       }
    }

    .qty {
       margin: 0px 15px;
    }

    .cart-btn {
        display: flex;
	    justify-content: center;
	    align-items: center;

	    // button:after {
		// 	   content: 'Add to Cart';
		// 	   display: block;
		// 	}

		// 	button:focus:after,button:active:after{
		// 	   	content: 'ADDING...';
		// 	    display: block;
		//    }

      button {
           background-color: transparent;
	       border: 1px solid #808285;
	       color: #808285;
	       text-transform: uppercase;
	       font-size: 12px;
	       font-weight: 600;
	       border-radius: 0px;

	       &:hover {
	          background-color: #fff;
	          color:#000;
	       }


      }



       .btn-primary:focus {
	        box-shadow: none !important; 
	    }
      
	}

}
@media only screen and (max-width:768px){
	.custom-social-sharing-icon-container span {
		display: none;
	}
	.product-center-panel.col-8.pl-0.pr-0 {
		flex: 100%;
		max-width: 100%;
	}
	.customer-review-section .stamped-header-title {
		margin-top: 30px;
		text-align: center;
	}
	
	.customer-review-section .customer-review-left-section .stamped-summary {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.customer-review-section .customer-review-left-section .stamped-summary-action {
		margin-top: 80px;
		clear: both;
	}
}
