@import "../styles/Global.scss";

.product-video-panel {
	
   .product-video-panel {
      background-color: #241f20;
      height: auto;
   }

   .player-wrapper {
          min-height: 100%;
          display:inherit;
          height: 100%;
   }

   .player-wrapper {

      .video-react-video {
          width: 100%;
          height: 100%;
          display: inherit;

          &:focus {
            outline: 0px !important;
          }
         
      }

      .video-react{
          padding-top: 0px !important;
          position: relative;

          &:focus {
            outline: 0px;
            border: 0px;
          }
       }

       .video-react-big-play-button, .video-react-current-time-display, .video-react-duration-display, .video-react-progress-holder {
          display: none;
       }

       .video-react-time-divider div span {
          display: none;
       }

       .video-react-control-bar {
             display: inline-flex;
             position: absolute;
             bottom: 20px;
             left: 20px;

             button {
               margin-right: 20px;
               padding: 5px 10px;
               font-size: 11px;
               border: 1px solid $DarkGrayClr;
               background-color: transparent;
               color: $DarkGrayClr;

               &:hover {
                  background-color: $WhiteClr;
                  color: $BlackClr;
               }
             }
       }

   }
}