// .modal-dialog{
//     position: absolute !important;
// }
.modal-dialog-slideout-white {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
    left: 0;
    position: absolute !important;
    top: 0;
    margin: 0 !important;
    padding: 40px 80px;
}
.modal.fade .modal-dialog-slideout-white {
	-webkit-transform: translate(100%,0)scale(1);
	transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog-slideout-white {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	display: flex;
	align-items: stretch;
	-webkit-box-align: stretch;
	height: 100%;
}
.modal.fade.show .modal-dialog-slideout-white .modal-body{
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-dialog-slideout-white .modal-content{border: 0;}
.modal-dialog-slideout-white .modal-header{height: 69px; display: block;} 

.modal.fade .modal-dialog.modal-dialog-slideout-white{
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}
.modal.fade:not(.in) .modal-dialog.modal-dialog-slideout-white{
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
#channelModalwhite {
   background: rgba(0, 0, 0, 0.5);
   display: block;
    height: calc(100% - 0px);
    left: -100%;
    max-width: 100%;
    padding: 40px 80px;
    top: 0;
}
#channelModalwhite.modal.classshowwhite{
    left: 0%;
}

#channelModalwhite .modal-dialog.modal-dialog-slideout-white {
    left: 0%;
    transition: left 0.5s ease 0s;
}
#channelModalwhite.modal.classhidewhite .modal-dialog-slideoutwhite {
    left: -100%;
    transition: left 0.5s ease 0s;
}
#channelModalwhite.modal.classhidewhite {
    transition: left 0.5s ease 0s;
    background: transparent;
}
#channelModalwhite.modal.classhidewhite .modal-dialog.modal-dialog-slideout-white {
    left: -100%;
    transition: left 0.5s ease 0s;
}
.modal-dialog-slideout .pouptext h3 {
    font-size: 20px;
}
.modal-dialog-slideout-white .pouptext h3 {
    font-size: 20px;
}
.modal-dialog-slideout-white .pouptext p {
    font-size: 14px;
    line-height: 1.3em;
    color: #000;
}
.modal-dialog-slideout-white .modal-content {
    background: transparent;
}

.modal-dialog-slideout-white .modal-header {
    border: none;
}

.modal-dialog-slideout-white .pouptext h3 {
    color: #000;
    padding-bottom: 15px;
}
.modal-header .close {
    outline: none;
    font-weight: 300;
    opacity: 1;
    font-size: 16px;

}
.modal-dialog-slideout-white .modal-header {
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 0;
    height: auto;
}
.modal-dialog-slideout-white .tab-content-section {
    font-size: 14px;
}

.modal-dialog-slideout-white .tab-content-section ul {
    padding: 0 15px;
}
.modal-dialog-slideout-white .pouptext .tablink {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: left;
}

.modal-dialog-slideout-white .pouptext .tablink li a {
    font-size: 11px;
    color: #808285;
    float: left;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s ease;
    text-decoration: none;
    cursor: pointer;
}
.modal-dialog-slideout-white .pouptext .tablink li.active a {
    color:#000;
}
.modal-dialog-slideout-white .pouptext .tablink li:hover a {
    color:#000;
}
.modal-dialog-slideout-white .navlink {
    padding-bottom: 10px;
}

.modal-dialog-slideout-white .tab-content-section {
    text-align: left;
}
@media (min-width: 576px){
.modal-dialog.modal-dialog-slideout-white {
    max-width: 600px;
}
}
@media only screen and (max-width:768px){
    .modal-dialog-slideout-white{
        padding: 40px 20px;
    }
}