.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #000;
    left: 0;
    position: absolute;
    top: 0;
    padding: 40px 80px;
}
.modal.fade .modal-dialog-slideout {
	-webkit-transform: translate(100%,0)scale(1);
	transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog-slideout {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	display: flex;
	align-items: stretch;
	-webkit-box-align: stretch;
	height: 100%;
}
.modal.fade.show .modal-dialog-slideout .modal-body{
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{border: 0;}


.modal.fade .modal-dialog.modal-dialog-slideout{
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}
.modal.fade:not(.in) .modal-dialog.modal-dialog-slideout{
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
#channelModal {
   background: rgba(0, 0, 0, 0.5);
    display: block;
    height: calc(100% - 0px);
    left: -100%;
    max-width: 100%;
    padding: 40px 80px;
    top: 0;   
}

#channelModal.modal.classshow{
    left: 0%;
}
#channelModal .modal-dialog-slideout{
    left: -100%;
    transition: left 0.5s ease 0s;
}
#channelModal.modal.classshow .modal-dialog-slideout {
    left: 0%;
    transition: left 0.5s ease 0s;
}
#channelModal.modal.classhide {
    transition: left 0.5s ease 0s;
    background: transparent;
}
#channelModal .modal-body {
    height: 545px;
    overflow-y: scroll;
}
#channelModal .modal-body::-webkit-scrollbar-track
{
	
	background-color:  #000000;
}

#channelModal .modal-body::-webkit-scrollbar
{
	width: 5px;
	background-color: #000000;
}

#channelModal .modal-body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #000000;
}

.modal-dialog-slideout .pouptext h3 {
    font-size: 20px;
}
.modal-dialog-slideout .pouptext p {
    font-size: 14px;
    line-height: 1.3em;
    color: #fff;
}
.modal-dialog-slideout .modal-content {
    background: transparent;
}
.modal-dialog-slideout .modal-header {
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 0;
    height: auto;
}
.modal-dialog-slideout .modal-header {
    border: none;
}

.modal-dialog-slideout .pouptext h3 {
    color: #fff;
    padding-bottom: 15px;
}
.modal-dialog-slideout .pouptext .tablink {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: left;
}

.modal-dialog-slideout .pouptext .tablink li a {
    font-size: 11px;
    color: #808285;
    float: left;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.5s ease;
    text-decoration: none;
    cursor: pointer;
}
.modal-header .close {
    outline: none;
    font-weight: 300;
    opacity: 1;
    font-size: 16px;

}
.modal-dialog-slideout .pouptext .tablink li.active a {
    color:#fff;
}
.modal-dialog-slideout .pouptext .tablink li:hover a {
    color:#fff;
}
.modal-dialog-slideout .navlink {
    padding-bottom: 10px;
}

.modal-dialog-slideout .tab-content-section {
    text-align: left;
}

.learn-more-tab-content {
    float: left;
    margin: 60px 0 0;
    width: 100%;
}
.key-allies-title-anchor-container {
    border-bottom: 1px solid #8c8a8a;
    display: inline-block;
    margin: 0 0 30px;
    padding: 0 0 40px;
    width: 100%;
    .active{
        color: #fff;
        
    }
    a :hover{
            color: #fff;
        }
}

.key-allies {
    color: #8c8a8a;
    display: inline;
    font-family: "QuadraatSansPro";
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    text-decoration: none;
    width: initial;
    text-transform: capitalize;
    letter-spacing: 0;
    cursor: pointer;
    a :hover{
        color: #fff;
    }
}

.purpose-label {
    color: #808285;
    display: block;
    font-family: "BrandonGrotesque bold";
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 21px;
    margin: 0 0 15px;
    text-transform: uppercase;
}
@media only screen and (max-width:768px){
    .modal-dialog-slideout {
        padding: 40px 20px;
    }
}
@media (min-width: 576px){
.modal-dialog.modal-dialog-slideout {
    max-width: 600px;
}
}