 @import "../styles/Global.scss";

 .regimen-section {
	width: 100%;
	position:relative;
	height:100vh;
    


     .regimen_container {
        font-family: AlliesMediumFont;
        background-color: $BlackClr;
        position :absolute;
        left:0;
        top:-108px;
        float: left;
	    width: 100%;
	    height: auto;
	    overflow: hidden;
	    z-index:7;
	    padding: 100px 20px;


        .regimen-header {
            display: block;
		    text-align: center;
		    vertical-align: middle

		    img {
			    display: inline-block;
			    vertical-align: middle;
			    width: initial;
            }

        }

        .regimen-body {
		    float: left;
		    overflow: hidden;
		    position: relative;
		    width: 100%;
		    min-height: 868px;
		    height: 100%;

		    .step_first_question {
		        left: 0;
                transition: left 0.5s ease 0.5s;
                position: absolute;
                width: 100%;
                top: 0;
                float: left;

                .qustn-number {
				    float: left;
				    font-size: 16px;
				    letter-spacing: 2px;
				    line-height: 14px;
				    margin: 80px 0px 0px;
				    color: $WhiteClr;
				    text-align:center;
				    text-transform: uppercase;
				    width: 100%;
				}

				.qustn {
				    float: left;
				    font-family: AlliesMediumFont;
				    color: $WhiteClr;
				    font-size: 32px;
				    letter-spacing: 7px;
				    line-height: 50px;
				    margin: 14px 0px 80px;
				    text-align: center;
				    text-transform: uppercase;
				    width: 100%;
				}

		    }

		    .step_two {

		       .panel-heading {
		          margin-bottom: 20px;
		       }

		       h2 {
		          margin-top: 130px !important;
		          font-size: 50px;
		       }

		       h1 {
		          font-size: 70px;
		          font-weight: lighter;
		          text-transform: capitalize;
		       }

		       .btn {
		          margin-top:50px;
		          color:gray;
		       }
		    }


		    .step_three {
		        h2 {
                   margin-top: 110px !important;
                   margin-bottom: 30px;

		        }

		         .btn {
		          margin-top:50px;
		          color:gray;
		         } 

		         h1{
		           font-size : 60px;
		           line-height: 60px;
		           width: 700px;
		           text-align: center;
		           margin: 60px auto;
		         }
		    }

		    .ques-container {
			    justify-content: center;
			    display: flex;
			    margin: 100px auto;
			    max-width: 750px;
			    position: relative;
			    width: 100%;

			    input[type="text"] {
			        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			        position: relative;
			        opcity:0;
				    border: medium none;
				    color: $WhiteClr;
				    float: left;
				    font-size: 24px;
				    font-weight: normal;
				    height: initial;
				    letter-spacing: 5px;
				    line-height: 80px;
				    padding: 0 20px;
				    text-align: center;
				    text-transform: uppercase;
				    width: 100%;
				    border-bottom: 1px solid $WhiteClr;

				    &:focus {
				       border:0px;
				       outline:0px;
				       border-bottom: 1px solid #ccc;
				       box-shadow:none !important;

				    }
			    }

			    .field-arrow {
				    color: #696767;
				    float: right;
				    font-size: 24px;
				    position: absolute;
				    right: 0;
				    top: 50%;
				    transform: translate(0px, -50%);
				    z-index: 99;
				    cursor: pointer;
				    line-height: 80px;
				    width: 20px;
				    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				    border: medium none;
				}

				.btn {
				   font-size: 30px;
				}
			}
        }
    }

  



/* Styling Parts */
#part1,
#part2,
#part3 {
  z-index: 2;
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Hidden Parts */
#part2,
#part3 {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* Show Step 2 & Hide Step 1 */
#step2:checked ~ #part2 {
  opacity: 1;
  height: auto;
}
#step2:checked ~ #part1 {
  opacity: 0;
  height: 0;
  display: none;
}

/* Show Step 3  & Hide Step 2 */
#step3:checked ~ #part3 {
  opacity: 1;
  height: auto;
}
#step3:checked ~ #part2 {
  opacity: 0;
  width: 0;
  height: 0;
}
 }