#swell-bootstrap {
	.rewards-templete {
		.banner {
			background: #E6E7E8;
			overflow: inherit;
			position: relative;
			background-size: cover;
			.caption {
				width: 100%;
				text-align: center;
				h1 {
					text-align: center;
				}
				p {
					text-align: center;
				}
			}
			.point-circle {
				border: 1px solid black;
				margin: 0 auto;
				border-radius: 100%;
				text-align: center;
				vertical-align: middle;
				width: 170px;
				height: 170px;
				font-size: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				color: #fff;
			}
		}
		.caption {
			h1 {
				font-size: 36px;
				color: #414042;
				margin: 10px 0;
				padding: 0;
				line-height: 43px;
				opacity: 1;
				float: none;
				display: block;
				width: 100%;
				height: auto;
				background: transparent;
			}
			p {
				font-size: 14px;
				color: #414042;
				opacity: 1;
				float: none;
				display: block;
				width: 100%;
				height: auto;
				background: transparent;
			}
		}
		.point-circle {
			background-color: #000000;
		}
	}
	.referral-block {
		padding: 35px 0;
		text-align: center;
		font-size: 20px;
		width: 100%;
		height: auto;
		background: #6C6D70;
	}
	.btn-block {
		display: block;
		width: 100%;
		ul {
			text-align: center;
			padding: 0;
			margin: 15px 0 0;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			background: transparent;
			li {
				display: inline-block;
				padding: 0;
				margin: 0 10px 10px;
				font-size: 14px;
				cursor: pointer;
				display: inline-block;
				padding: 0;
				margin: 0 10px 10px;
				font-size: 14px;
				cursor: pointer;
				a {
					padding: 12px 5px;
					color: #FFFFFF;
					border: 2px solid #FFFFFF;
					min-width: 180px;
					display: inline-block;
				}
			}
		}
	}
	.reward-faq{
	.faq-block {
		text-align: center;
		padding: 50px 0;
		background-color: #e1e1e1;
		h2 {
			margin: 0;
			text-align: center;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			padding: 0;
			background: transparent;
		}
		p {
			margin-bottom: 25px;
			text-align: center;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			padding: 0;
			background: transparent;
		}
	}
}
}
.rewards-templete {
	.banner {
		margin: 40px 0 0;
		padding: 40px 0 40px;
	}
}
.rewards-sec.rewards-templete {
	width: 100%;
}
.main-block.earn-section.rewards-page-campaigns-section-image.rewards-page-campaigns-section-color {
	padding: 60px 0;
	.item-box {
		&:hover {
			cursor: pointer;
			background-color: #404040;
			h3 {
				color: #fff;
			}
			h2 {
				color: #fff;
			}
		}
	}
}
.block-holder {
	width: 100%;
}
#earn_header {
	text-align: center;
	font-size: 42px;
}
#earn_subtitle {
	text-align: center;
	font-size: 30px;
}
.item-box {
	text-align: center;
	padding: 40px 0;
	margin-bottom: 20px;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #969598;
	height: 100%;
	position: relative;
}
div#gi-icon-background {
	background-color: #FFFFFF;
	max-width: 60px;
	margin: 0 auto;
	border-radius: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	margin-bottom: 20px;
}
.swell-campaign-link.swell-authenticated {
	height: 100%;
}
#gi-cost-color {
	font-size: 28px;
	font-weight: 500;
}
#gi-desc-color {
	font-weight: 500;
}
#guest_earn_header {
	text-align: center;
	text-align: center;
	font-size: 42px;
}
#guest_earn_subtitle {
	text-align: center;
}
p#guest_earn_subtitle {
	text-align: center;
	font-size: 30px;
}
#rp-campaigns-region {
	padding-top: 30px;
}
.swell-authenticated.referral-block.divider-block {
	padding: 35px 0;
	text-align: center;
	font-size: 20px;
	width: 100%;
	height: auto;
	background: #6C6D70;
	margin-top: 60px;
	h2 {
		font-size: 40px;
		font-weight: normal;
		margin-bottom: 3px;
		text-align: center;
		opacity: 1;
		float: none;
		display: block;
		width: 100%;
		height: auto;
		color: #fff;
	}
	p {
		text-align: center;
		opacity: 1;
		float: none;
		display: block;
		width: 100%;
		height: auto;
		background: transparent;
		color: #fff;
	}
	ul {
		padding: 0;
		margin: 20px 0 0;
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			width: 55px;
			height: 55px;
			background-color: #FFFFFF;
			border-radius: 100%;
			margin: 0 5px;
			cursor: pointer;
			text-align: center;
			line-height: 55px;
		}
	}
	#view-history-btn {
		width: 100%;
		background: transparent;
		font-size: 18px;
	}
}
.divider-text.swell-referral-link {
	color: #fff;
}
.social-icon {
	li {
		i {
			font-size: 24px;
		}
		svg {
			width: 24px;
		}
	}
}
.swell-unauthenticated.referral-block.divider-block {
	background: #6c6d70;
	margin-top: 60px;
	padding: 30px;
	text-align: center;
	#guest_referral_header {
		color: #fff;
		font-size: 40px;
	}
	#guest_referral_subtitle {
		color: #fff;
		padding-bottom: 20px;
		font-size: 24px;
	}
	.referral-block {
		padding: 35px 0;
		text-align: center;
		font-size: 20px;
		width: 100%;
		height: auto;
		h2 {
			font-size: 40px;
			font-weight: normal;
			margin-bottom: 3px;
			text-align: center;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			background: transparent;
		}
		p {
			text-align: center;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			background: transparent;
		}
	}
	.btn-block {
		display: block;
		width: 100%;
		ul {
			text-align: center;
			padding: 0;
			margin: 15px 0 0;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			background: transparent;
			li {
				display: inline-block;
				padding: 0;
				margin: 0 10px 10px;
				font-size: 14px;
				cursor: pointer;
				a {
					padding: 12px 5px;
					color: #FFFFFF;
					border: 2px solid #FFFFFF;
					min-width: 180px;
					display: inline-block;
					&:hover {
						background: #fff;
						color: #000 !important;
					}
				}
			}
		}
	}
}
#rp-campaigns-redeem {
	.campaign.col-md-4 {
		margin-bottom: 30px;
	}
	.heading-holder {
		padding: 60px 0 30px;
		text-align: center;
		#reedeem_header {
			font-size: 40px;
		}
	}
	#redeem_subtitle {
		font-size: 30px;
	}
}
.reward-faq{
.faq-block {
	.content-block {
		h2 {
			color: #000000;
			margin: 0;
			font-size: 22px;
			text-align: center;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			padding: 0;
			background: transparent;
		}
		p {
			color: #000000;
			margin-bottom: 25px;
			font-size: 15px;
			opacity: 1;
			float: none;
			display: block;
			width: 100%;
			height: auto;
			padding: 0;
			background: transparent;
			text-align: center;
		}
	}
	text-align: center;
	padding: 50px 0;
	background-color: #e1e1e1;
}
}
.hover-logout-box {
    background: #404040;
    position: absolute;
    top: 0;
    height: 100%;
    display: none;
    padding: 0;
    width: 100%;
}
.hover-logout-box  .btn-block {
    display: block;
    width: 100%;
}

.hover-logout-box .btn-block {
    height: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.hover-logout-box .btn-block ul {
    text-align: center ;
    padding: 0 ;
    margin: 15px 0 0 ;
    opacity: 1 ;
    float: none ;
    display: block ;
    width: 100% ;
    height: auto ;
    background: transparent ;
}
.hover-logout-box .btn-block ul li {
    display: block;
    padding: 0 ;
    margin: 0 10px 10px ;
    font-size: 14px ;
    cursor: pointer ;
}
.hover-logout-box .btn-block ul li a {
    padding: 12px 5px ;
    color: #FFFFFF ;
    border: 2px solid #FFFFFF ;
    min-width: 180px ;
    display: inline-block;
    width: 92% ;
	margin: 0 0 10px ;
	text-decoration: none;
}
.hover-logout-box .btn-block ul li {
    display: block;
    padding: 0 ;
    margin: 0 10px 10px ;
    font-size: 14px ;
    cursor: pointer ;
}
.hover-logout-box .btn-block ul li a:hover {
    background-color: #FFFFFF;
    color: #6C6D70;
    text-decoration: none;
}
.swell-campaign-link .item-box:hover .hover-logout-box {
    display: block;
}
#faq-header {
	font-size: 40px;
}
#faq-subtitle {
	font-size: 30px;
}
#faq-text {
	padding: 0 15px;
}
@media only screen and (max-width:768px){
	#rp-campaigns-region .campaign {
		margin-bottom: 30px;
	}
}
.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #000;
    left: 0;
    position: absolute;
    top: 0;
}
.modal.fade .modal-dialog-slideout {
	-webkit-transform: translate(100%,0)scale(1);
	transform: translate(100%,0)scale(1);
}
.modal.fade.show .modal-dialog-slideout {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
	display: flex;
	align-items: stretch;
	-webkit-box-align: stretch;
	height: 100%;
}
.modal.fade.show .modal-dialog-slideout .modal-body{
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header{height: 69px; display: block;} 

.modal.fade .modal-dialog.modal-dialog-slideout{
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}
.modal.fade:not(.in) .modal-dialog.modal-dialog-slideout{
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
#channelModal {
   background: rgba(0, 0, 0, 0.5); ;
}
.pouptext h3 {
    font-size: 20px;
}
.pouptext p {
    font-size: 14px;
    line-height: 1.3em;
    color: #fff;
}
.modal-dialog-slideout .modal-content {
    background: transparent;
}

.modal-dialog-slideout .modal-header {
    border: none;
}

.pouptext h3 {
    color: #fff;
    padding-bottom: 15px;
}