@import "../styles/Global.scss";


.product_list {
	
	.react-tabs__tab--selected {
	    color:$BlackClr !important;
	}

    .product_list_menu {

       ul {
           display:flex;
           height: 80px;
           font-family: AlliesMediumFont;
           align-items:center;
           list-style:none;
           border-bottom: 1px solid $BlackClr;
		   border-top: medium none;
		   margin: 0 0 40px;
		   padding: 30px 0;
		   width: 100%;

		  .nav-pills .nav-link.active {
		    color: #000;
		    background-color: transparent;
		  } 

		  .nav-pills .nav-link:focus {
		    outline: none !important;
		  }

         a {
            list-style-type:none;
            display: inline-block;
		    line-height: 14px;
		    margin: 0;
		    padding: 0 18px 0 0;
		    width: initial;
		    color: #a5a2a2;
			display: inline-block;
			font-size: 12px;
			letter-spacing: 2px;
			font-weight: normal;
			font-style: normal;
			cursor:pointer;
			text-transform: uppercase;
			line-height: 14px;
			width: initial;
			transition: all 0.5s ease;
			    
			&:hover {
			    text-decoration: none;
			    color: $BlackClr;
			}
		   
         }
       }
    }
}

.main_all_product {
	
	.view_btn {
	   display:none;
	}

	.product {
	   padding-left: 0px !important;
	   padding-right: 0px !important;
	}

	.porduct_desc {
	    display: -webkit-box !important;
	    -webkit-line-clamp: 3 !important;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
   }

}

.product {

	  .card {
	     margin-bottom: 40px;
	     margin-top: 20px;
	   }


	   .btn-primary:focus {
	      box-shadow: none !important;
	   }

	   
}

.is-active {
	  color:&$BlackClr;
}

@media only screen and (max-width:768px){
	.container-fluid.my-5.pl-5.pr-5.product {
		margin-top: 0 !important;
	}
	
	.homepage-product-heading {
		text-align: center;
		padding-top:30px;
		padding-bottom:30px;
	}
	
	.homepage-product-text {
		text-align: center;
		float: none !important;
		width: 80% !important;
		margin: 0 auto !important;
		display: block !important;
	}
	.homepage-product-heading.home-slider-head {
		text-align: left;
	}
	.homepage-product-text.textleft-slide {
		text-align: left;
		width: 80% !important;
		margin:0 !important;
	}

}
.rowowl {
    padding: 0 20px;
}
.slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 24px !important;
	line-height: 1;
	opacity: .75;
	color: black !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}