.Similar-product-section {
    padding: 60px 0;
}
.product-item-info .product-image-wrapper {
    display: inline-block;
    height: auto;
    overflow: hidden;
    padding: 0 20px !important;
    position: static;
    text-align: center;
    width: calc(100% - 40px);
}
.product-item-info .product-image-photo {
    display: inline-block !important;
    margin: 0;
    max-width: 100%;
    max-height: 500px;
    position: static;
    transition: all 0.8s ease 0s;
    width: auto;
}
.block.related .product-item-details {
    display: inline-block;
    width: calc(100% - 80px);
    padding: 0 40px;
    position: static;
}
.block.related .product-item-details .product-item-name {
    display: inline-block;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}
.block.related .product-item-details .product-item-name a {
    cursor: pointer;
    font-family: AlliesFont;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    min-height: 90px;
    hyphens: manual;
    -moz-hyphens: manual;
}
.regimen-left-section {
    float: left;
    max-width: 310px;
    padding: 0;
    text-align: left;
    width: 100%;
}
.regimen-left-section h2 {
    color: #000000;
    float: left;
    font-family: AlliesFont;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 18px;
    text-transform: uppercase;
    width: 100%;
}
.regimen-left-section h3 {
    float: left;
    font-family: AlliesFont;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 22px;
    margin: 5px 0;
    width: 100%;
    color: #000000;
}
.regimen-left-section p {
    color: #000000;
    float: left;
    font-family: AlliesFont;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 5px 0;
    width: 100%;
}
.regimen-left-section p a{
    color: #000000;
}
.block.related .products-related .product-item-info {
    border: medium none;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.product-item-info .product-image-container {
    width: 100% !important;
}
.product-item-info .product-image-wrapper {
    display: inline-block;
    height: auto;
    overflow: hidden;
    padding: 0 20px !important;
    position: static;
    text-align: center;
    width: calc(100% - 40px);
}
.product-item-info .product-image-container {
    width: 100% !important;
}
.product-item-info .product-image-wrapper {
    display: inline-block;
    height: auto;
    overflow: hidden;
    padding: 0 20px !important;
    position: static;
    text-align: center;
    width: calc(100% - 40px);
}

.product-item-info .product-image-photo {
    display: inline-block !important;
    margin: 0;
    max-width: 100%;
    max-height: 500px;
    position: static;
    transition: all 0.8s ease 0s;
    width: auto;
}
.block.related .product-item-details {
    display: inline-block;
    width: calc(100% - 80px);
    padding: 0 40px;
    position: static;
}
.block.related .product-item-details .product-item-name {
    display: inline-block;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}
.block.related .product-item-details .product-item-name a {
    cursor: pointer;
    font-family: AlliesFont;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    min-height: 90px;
    hyphens: manual;
    -moz-hyphens: manual;
}
.block.related .related-box {
    width: 100%;
    padding: 0;
    display: inline-block;
}
.product-item-info .product-attr {
    display: inline-block;
    padding: 0;
    width: 100%;
}
.product-item-info .product-attr .product-volume-attr {
    display: inline-block;
    font-family: AlliesFont;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 21px;
    text-transform: uppercase;
    width: initial;
}
.product-item-info .product-attr .separator {
    display: inline-block;
    height: 15px;
    line-height: 21px;
    margin: 0 12px;
    position: relative;
    width: 1px;
}
.product-item-info .product-attr .product-price {
    display: inline-block;
    float: none;
    line-height: 21px;
    padding: 0;
    width: initial;
}
.product-item-info .product-attr .price-box {
    display: inline-block;
    margin: 0;
    width: initial;
}
.stock.unavailable {
    display: inline-block;
    margin: 30px 0 0;
    text-align: center;
    width: 100%;
}
.stock.unavailable span {
    color: #000000;
    font-family: "BrandonGrotesque Medium";
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}