 .view_edit {
   margin: 50px 0px;

   .delete-product {
      text-align: right;
      padding-right: 40px;

      span {
        color :#808285;
        margin-right: 15px;
        font-size: 20px;
        font-weight:100;
        cursor: pointer;

        &:hover {
          color: #000;
        }

     }

     a {
        color :#808285;
        font-size: 20px;
     }
   }
    
    .header-description {
       padding: 20px 0px;
       border-bottom: 1px solid #ccc;
        img {
            height: 200px;
            width: auto;
        }

        h3 {
          font-family: AlliesFont;
			    font-size: 20px;
			    letter-spacing: 1px;
			    line-height: 25px;
			    margin-left: 40px;
        }

        .preorder {
           width: 100%;
           font-family: AlliesFont;
           margin-left: 40px;
           font-size: 15px;
        }

        .title_price {
                color: #000000;
			    font-family: AlliesMediumFont;
			    font-size: 16px;
			    font-weight: 400 !important;
			    letter-spacing: 1px;
			    line-height: 25px;
        }

        .incrment_decrment {
             width: 100%;
             display: flex;

             span {
                margin: 0px 10px;
             }
        }
    }

   
 }


  .order-summary {
       background: #f5f5f5;
       padding: 30px 0px;

       h2 {
           font-family: AlliesFont;
		    font-size: 30px;
		    line-height: 60px;
		    margin: 0;
		    text-align: center;
       }

       .total {
         border-bottom : 1px solid #ccc;
         margin: 10px;
         padding-bottom: 10px;
       }

       .cart-totals {
            font-family: AlliesMediumFont;
		    font-size: 16px;
		    letter-spacing: 1px;
		    line-height: 50px;
       }

       .order-price-value {
           	font-weight: 400;
		    padding: 6px 0 6px 14px;
		    text-align: right;
		    white-space: nowrap;
       }

       .order-price-name {
            display: inline-block;
		    font-family: AlliesFont;
		    font-size: 18px;
		    font-weight: normal;
		    line-height: 20px;
		    margin: 0;
       }

       .proceed-checkout {
            margin-top: 20px;
            font-family: AlliesMediumFont;
		    font-size: 11px;
		    font-weight: normal;
		    letter-spacing: 1px;
		    line-height: 40px;
		    padding: 10px 50px;
		    text-transform: uppercase;
		    width: 100%;
		    border: 1px solid #000;
		    color: #000;

		    &:hover {
		      background-color: #000;
		      color: #fff;
		      text-decoration:none;
		    }
       }

       .Shipping-tax {

          .card {

             button {
               border: 0px;
               background-color: transparent;
               width: 100%;
               padding: 0px;
               text-align:left;
               display: inline-block;
      			    font-family: AlliesFont;
      			    font-size: 18px;
      			    font-weight: normal;
      			    line-height: 20px;
      			    margin: 0;

			    &:focus {
			      outline: none;
			    }

               .fa {
                 font-size: 20px;
                 float:right;
               }
             }
          }

          .card-body {
                background: whitesmoke;
          }

          form {
             label {
               font-size: 15px;
               font-family: AlliesFont;
               letter-spacing: 1.2px;
             }

             .select-tax {
                label{
                  margin-left: 10px;
                  font-size: 13px;
                }
                input {
                  margin-top: 6px;
                  float: left;
                }
             }
          }
       }
    }



  .header-title {
          border-bottom: 1px solid #ccc;
          padding-bottom: 10px;

          .title_name {
            color: #808285;
		    display: inline-block;
		    font-family: AlliesMediumFont;
		    font-size: 11px;
		    font-weight: normal;
		    letter-spacing: 2px;
		    line-height: 25px;
		    text-transform: uppercase;
          }

          .col-1, .col-2 {
             text-align:center;
          }
    }


 .view_editcart {
     display: inherit;
     text-align:center;
     margin: 100px 0px;
 }