@import "../styles/Global.scss";

   .widget-popup {
       font-family: AlliesFont;
       color: white;
       background-color: rgb(0, 0, 0) !important;
       border-color: white !important;     
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: bottom right;
       position: fixed;
       right: 0px;
       white-space: nowrap;
       outline: 0;
       border-radius: 5px;
       font-size: 17px !important;
	} 

	.btn-primary:focus {
	     outline: none;
         box-shadow: none !important;
	}


.modal_contact_popup {

  	  .widget-popup {
         top: 20%;
         text-transform: uppercase;
  	  }
}


.modal_reward_popup {
	
	.widget-popup {
       top: 75%;
       right: -10px;

	}	
}


.contact-popup {
    
    .close {
       font-size: 38px;
       padding: 0px !important;
       margin: 0px !important;
       font-weight: 100;

        &:focus {
           outline: none !important;
        }

       span:focus {
          outline: none !important;

       }
    }

    .modal-header {
	    width: 100%;
	    height: 48px;
	    padding: 3px 20px 0;
	    border-bottom: 1px #aeaeae solid;
	    border-radius: 0px;
	    background: #fff;

      .modal-title{
           font-size: 18px;
           margin-top: 8px;
      }
    }

    .modal-content {
      border-radius: 0px;
    }


     
    .modal-body {
       .contact-input-form {
	          width : calc(100% - 0px);
	          padding: 10px 5px;

       }

       input[type = email], input[type = text], textarea {
	         border: 1px solid #aeaeae;
	         font-size: 13px;
	         border-radius: 0px;

	         &:focus, textarea:focus {
	          border: 1px solid #aeaeae;
	          outline: 0px;
	         }

       }

       .form-control:focus {
         box-shadow: none !important;

       }

       .input-group-text {
          border-radius: 0px;
       }
   }

   .modal-footer {
      border-radius: 0px;
      button {
         background-color:#888;
         text-transform: uppercase;
         border-radius: 5px;
         font-size: 14px;
         border-color: transparent;

         &:hover, &:focus {
           border-color: transparent;
           background-color:#888;
         }
      }
   }
} 


.reward-popup {
  
  .modal-dialog {
     font-family: AvenirMedium;
      max-width: 720px;

      .modal-content{
        border-radius: 0px;
        border-color:#fff;

        .modal-header {
          background-color: #1A242F;
          color: white;

          .modal-title {
            font-size: 16px !important;
           }
          
          .close  {
              span {
               color:#fff;
               font-weight: 100;
             }

             &:focus {
               outline: none !important;
            }
          }

          }

          .modal-body {
             h4 {
                font-size: 14px !important;
                font-weight: normal;
                font-style: normal;
                text-align: center;
                padding-bottom: 6px;
             }

             .earn_reward-point {
                max-height: 313px;
                overflow-y: scroll;
                overflox-x: hidden;
                width: 100%;

               .swell-auth-item-title {
                    font-size: 20px;
                }

                .swell-auth-panel:first-child {
                    margin-top: 0px;
                }

                .swell-auth-panel {
                    border-top: 1px solid #c8c8c8;
                    padding: 10px 0px;
                    margin: 15px 0px;  
                }

                .swell-auth-item-description {
                    font-size: 13px;
                }

                .swell-auth-item-details {
                    margin-top: 7px;
                    margin-left: 10px;
                    font-weight: lighter;
                }

             }
          }
        

        .modal-footer {
            justify-content: space-between;
            border-top:0px;

            h3{
              font-size: 20px;
              padding-bottom: 23px;
            }

            a {
                background-color: #1A242F;
                color: white;
                text-transform: uppercase;
                border-color:#1A242F;
                font-size: 12px !important;
                padding: 10px 50px;

                &:hover {
                      text-decoration: none;
                }
            }
        }
      }
  }

}  