.alert-box-container{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 23;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    
  }
  
  .alert-box{
    width: 400px;
    height: 250px;
    background: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  }