@font-face {
   font-family: AlliesFont;
   src: url(./fonts/QuadraatSansRegular.ttf);
}

@font-face {
   font-family: AlliesMediumFont;
   src: url(./fonts/BrandonGrotesque-Medium.ttf);
}

@font-face {
   font-family: AvenirMedium;
   src: url(./fonts/2090551770be22b09600a40b0b4673b7.woff);
}



body {
    font-family: Darker Grotesque, sans-serif;
    position: relative;
    margin: 0;
    min-height: 100%;
}



html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.scroll_top {
	
	button {
	    color: #fff;
	    position: fixed;
	    font-size:11px;
	    bottom: 0;
	    right: 0;
	    z-index: 9;
	    background-color: #000;
	    border: 0px;
	    border-radius: 0px;

	    &:hover, &:focus , &:active{
	     background-color: #000;
         border-color: transparent;
	    }
	}

	.btn-primary:not(:disabled):not(.disabled):active {
	     background-color: #000;
         border-color: transparent;
	}

	.btn:focus {
	   box-shadow: none;
	   border-color:transparent;
	}
}

.spinner-div{
	
	display:flex;
	justify-Content:center;
	align-Items:center;
	height:100%;
	width :100%;
	position :fixed;
	background-Color:#cccc;
	top:0px; 
	bottom:0px;
	left:0px;
	right:0px;
	z-index: 9999999;
}

//Roller
.lds-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #505a5f;
	opacity: 0.8;
	margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }