@import "../styles/Global.scss";

.login-container {

    .account-btn {
       display:flex;
       justify-content:center;
       align-items: center;
    }

    .heading-title {
      display:flex;
    }

    .fist-step, .second-step {
        font-family: AlliesMediumFont;
          display: block;
          width: 100%;
          height: auto;
          clear: both;
          margin-bottom: 90px;

          .checkbox {
            padding-left: 140px;
            font-size: 14px;
          }

          h2 {
            font-size: 20px !important;
          }

          .form_group label {
            font-family: AlliesFont;
            font-weight: normal;
            text-transform: capitalize;
            color: $BlackClr;
            font-size: 13px;
          }

    }

    
      .customer-login { 
          @extend .important-box; 
          align-content: center;        
          min-height: 420px;
          justify-content: center;
          padding: 20px;
          display: flex;
          flex-wrap: wrap;

          h2 {

              font-size: 24px;
              letter-spacing: 1px;
              line-height: 30px;
              margin: 0 0 40px;
              padding: 0;
              text-align: center;
              text-transform: uppercase;

          }

          .invalid_userid {
                font-size: 12px;
                color: red;
                font-family: AlliesFont;
                text-transform: capitalize;
          }

          form {

              p {

                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 21px;
                margin: 0 0 15px;
              }

              label {
                   
                  font-weight: 300;
                  text-transform: uppercase;
                  clear: both;
                  width: 100%;
                  font-size: 12px;
                  margin-bottom: 5px;
                  padding: 0;

                &:after {
                  content: '*';
                  color: #e02b27;
                  font-size: 11px;
                  margin: 0 0 0 5px;
                }

              }

          }

          .form_group {

            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 10px;

              input {

                width: 100%;
                padding: 5px 0px;
                margin: 0;
                border-radius: 0;
                display: block;
                font-size: 13px;
                border-color: transparent;
                border: 0px;
                border-bottom: 1px solid $DarkGrayClr;
                box-sizing: border-box;
                background-color: transparent;
              }

              input:focus {
                 display: block;
                 border-color: none;
                 outline: medium;
                 border:0px;
                 border-bottom: 1px solid $DarkGrayClr;
                 box-sizing: border-box;
              }
              
              .error {
                text-align: center;
               
            }
          }

          input[type=submit] {
              border-radius: 0px;
              width: auto;
              color: $BlackClr;
              border-color: transparent;
              border:1px solid $BlackClr;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 2px;
              line-height: 40px;
              margin: 20px 0 0;
              padding: 0 40px;
              text-transform: uppercase;
              transition: all 0.5s ease 0s;

              &:hover, &:focus {
                  background-color: $BlackClr;
                  color: $WhiteClr;
                  border-radius: 0px !important;
              }

          }

            .forget-pswd, .login-account {
               text-align: right;

               a {
                 font-size: 13px;
                 letter-spacing: 1px;
                 text-decoration: underline;
                 color: $BlackClr;
                 float: right;
                 margin-top: 27px;

                &:hover {
                  text-decoration: none;
                }
                   
              }
          }
      }

      .block-new-customer {
            align-content: center;
            background: $BlackClr none repeat scroll 0 0;
            color: $WhiteClr;
            display: flex;
            flex-wrap: wrap;
            float: right;
            justify-content: center;
            min-height: 420px;
            padding: 0 40px;

           .block-title h2 {
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .block-content {

               p {
                  float: left;
                  font-family: AlliesFont;
                  text-align: center;
                  font-size: 20px;
                  letter-spacing: 2px;
                  line-height: 28px;
                  margin: 40px 0 60px;
                  width: 100%;
              }
            
              .primary {

                  a.action {
                      border: 1px solid $WhiteClr;
                      border-radius: 0;
                      font-size: 12px;
                      justify-content: center;
                      display: flex;
                      align-items: center;
                      font-weight: normal;
                      letter-spacing: 1px;
                      line-height: 40px;
                      margin: 0;
                      text-transform: uppercase;
                      color: $WhiteClr !important;
                      width: 100%;

                      &:hover {
                          background: $WhiteClr none repeat scroll 0 0;
                          color: $BlackClr !important;
                          text-decoration: none;
                       }

                  }

              }


            } 


      }

      .forget_loginpswd {

          .customer-login {
             min-height: auto !important;
             padding: 30px 50px;

          }

          input[type=submit] {
                 margin: 0 auto !important;
                 float: none;
                 justify-content: center;
                 display: flex;
          }
          
      }

}
.sign-up-container.container.mt-5.mb-5 .customer-login .form_group{
  flex-wrap: wrap;
}
.sign-up-container .invalid-feedback{
  width: 100%;
}
.signup {
  width: 100%;
}

.message_popup {
  
  .modal-content {

    .modal-header {
       background-color: #fff;
       border-bottom: 0px;
       padding: 0px;

       .close {
          margin: 0rem 0rem -3rem auto;
          
           span {
             color: #000;
          }

       }
    }

  }

  .modal-dialog {
     max-width: auto !important;
  }

  .modal-body {
     font-family: AlliesFont;
     font-size: 18px;
  }
}


@media only screen and (max-width:768px){
  .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-xs-12.p-0.mob-pad {
    padding: 0 15px !important;
}
.login-container .customer-login .forget-pswd, .login-container .customer-login .login-account {
  display: block;
  text-align: left;
  padding-top: 20px;
}

.login-container .customer-login .forget-pswd a, .login-container .customer-login .login-account a {
  float: none;
}
.login-container .block-new-customer .primary {
  width: 100%;
}
.login-container .forget_loginpswd .customer-login {
  padding: 15px;
}

.login-container .forget_loginpswd input[type=submit] {
  clear: both;
  margin-top: 30px;
}
.login-container .customer-login .form_group {
  margin-bottom: 20px;
}

.login-container.sign-up-container.container.mt-5.mb-5 .form_group.form-group {
  flex-direction: column;
  align-items: flex-start;
}

.login-container.sign-up-container .form_group input {
  width: 100%;
}

.login-container.sign-up-container form label {
  width: 100%;
}
.sign-up-container .invalid-feedback{
 padding-left: 0px !important;
}
}